body {
  padding: 0;
  margin: 0;
}

// Для страниц, где длинный CPE ID может быть в заголовке
h1 {
  word-break: break-all;
}

// Класс добавляется к таблицам с атрибутом sticky-header
.zelax-sticky-header {

  &.b-table-sticky-header {
    overflow-y: unset;
    max-height: none;

    & > .table.b-table > thead > tr > th {
      top: 121px; // Под шапкой controls-header
      border-color: var(--info);
    }
  }
}

// Более приметный hover
*:not(.table-hover-border) > .table-hover tbody tr:hover {
  background-color: #d2f1f1 !important;
}

// Hover через подсветку границ <tr>
.table-hover-border tbody {
  $width: 1px; // Ширина границ

  /* Добавляем прозрачные границы, чтобы при ховере их можно было покрасить
     не сместив контент */
  tr {
    td {
      // border-top уже есть для vue-bootstrap таблиц (по селектору .table td)
      border-bottom: $width solid transparent;
    }

    td:first-child {
      border-left: $width solid transparent;
    }

    td:last-child {
      border-right: $width solid transparent;
    }
  }

  tr:hover {
    // Добавляем тень
    box-shadow: inset 0 0 10px var(--info), 0 0 10px var(--info);

    // Иначе внешний box-shadow будет рендериться "под" border-top <td> следующей <tr>
    transform: scale(1);

    // Раскрашиваем границы
    td {
      border-top: $width solid var(--info);
      border-bottom: $width solid var(--info);
    }

    td:first-child {
      border-left: $width solid var(--info);
    }

    td:last-child {
      border-right: $width solid var(--info);
    }
  }
}

// Нотификация
.notification {

  /* Класс .notification применяется на тот же элемент, что и .alert
     Поэтому, селектор этих стилей прописываем так,
     чтобы у них был приоритет выше стилей .alert */
  &.alert {
    position: relative;
    word-break: break-word;
    padding: 5px 45px 5px 0px;
    margin: 5px 0;
  }

  &__text {
    white-space: pre-wrap;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 0 5px;
  }
}

:root {
  // Фирменный цвет Zelax, взят с шапки zelax.ru
  --zelax-cyan: #04849c !important;
}