<template>
  <!-- Модальное окно с подтверждением применения конфига и полным списком
       текущих изменений конфига -->
  <b-modal id="apply-config-modal" @hide="onClose"
    size="lg" scrollable dialog-class="draggable-modal"
  >
    <template #modal-title>
      Apply config changes
    </template>

    <b-table striped hover :items="diff" :fields="table_fields"
      sticky-header="500px" no-border-collapse>

      <!-- config_action выводим как цветной текст -->
      <template #cell(config_action)="data">
        <span :class="GetColorVariant(data.item.config_action)">
          {{data.item.config_action}}
        </span>
      </template>
    </b-table>

    <template #modal-footer>
      <b-button
        class="mr-auto"
        variant="danger"
        @click="onDiscard()"
      >Discard all changes</b-button>

      <b-button @click="onClose()">
        Cancel apply
      </b-button>

      <b-button variant="primary" @click="onSubmit()">
        Apply
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import Vue from 'vue';
import {
  BTable,
} from 'bootstrap-vue';
import ModelCpeConfigParam from '@/models/cpe_config_param';

Vue.component('b-table', BTable);

export default {
  props: ['diff'], // diff - массив изменений параметров конфигурации, в формате отправки через API
  methods: {
    onSubmit() {
      this.$emit('submit', this.diff);
      this.onClose();
    },
    onClose() {
      this.$emit('closed');
    },
    onDiscard() {
      this.$emit('discard');
      this.onClose();
    },
    // Получить класс с цветом текста по значению configAction
    GetColorVariant(configAction) {
      if (configAction === ModelCpeConfigParam.GetConfigActionEnum().SET) {
        return 'text-success';
      }

      if (configAction === ModelCpeConfigParam.GetConfigActionEnum().DELETE) {
        return 'text-danger';
      }

      return '';
    },
  },
  data() {
    return {
      table_fields: [
        {
          key: 'config_name',
          label: 'Param',
          sortable: true,
        },
        {
          key: 'config_type',
          label: 'Type',
          sortable: true,
        },
        {
          key: 'config_value',
          label: 'Value',
          sortable: true,
        },
        {
          key: 'config_action',
          label: 'Action',
          sortable: true,
        },
      ],
    };
  },
};
</script>
