<template>
  <!-- Модальное окно для клонирования конфига (со списком устройств-доноров) -->
  <b-modal id="clone-config-modal" @hide="onClose"
    size="lg" scrollable dialog-class="draggable-modal"
  >
    <template #modal-title>
      Choose device to clone config from
    </template>

    <b-alert v-for="(item, index) in notifications" :key="index" show variant="danger"
      class="clone-config-modal__alert">{{item.message}}</b-alert>

    <b-table striped hover :items="filteredList" :fields="table_fields"
      sticky-header="500px" no-border-collapse>

      <!-- Колонка с кнопками клонирования -->
      <template #cell(action)="data">
        <!-- Помещаем в контейнер и добавляем стиль ml-auto, чтобы кнопка
             всегда была с правого края колонки -->
        <b-container class="mw-100">
          <b-row>
            <b-button class="ml-auto" variant="primary" @click="clone(data.item)">
              Clone
            </b-button>
          </b-row>
        </b-container>
      </template>
    </b-table>

    <template #modal-footer>
      <b-button @click="onClose()">
        Cancel
      </b-button>
    </template>
  </b-modal>
</template>

<script>

import Vue from 'vue';
import BTable from 'bootstrap-vue';
import BridgeApi from '@/bridges/api/cpe_config_api';

Vue.component('b-table', BTable);

export default {
  props: [
    'device_list', // массив объектов ModelCpe
    'device_id', // id устройства-акцептора
  ],
  data() {
    return {
      notifications: [],
      table_fields: [
        {
          key: 'name',
          label: 'Name',
          sortable: true,
          tdClass: 'clone-config-modal__title-column',
        },
        {
          key: 'cpe_id',
          label: 'ID',
          sortable: true,
          tdClass: 'clone-config-modal__title-column',
        },
        {
          key: 'action',
          label: '',
          sortable: false,
        },
      ],
    };
  },
  computed: {
    filteredList() {
      /* Выводим только зарегистрированные устройства,
       * устройство-акцептор не выводим */
      return this.device_list.filter(
        (device) => device.registered
                 && device.cpe_id !== this.device_id,
      );
    },
  },
  methods: {
    clone(donorDevice) {
      this.notifications = [];
      // Получаем ссылку на конфиг donorDeviceId
      BridgeApi().getCpeData(donorDevice.cpe_id).then((dataResults) => {
        // Получаем конфиг donorDeviceId
        if (dataResults.api_link) {
          BridgeApi().getCpeConfig(
            donorDevice.cpe_id, dataResults.api_link, null,
          ).then((configResults) => {
            /* При первой загрузке получили пустой конфиг - устройство ни разу
             * не подключалось к SDWAN и SDWAN не знает YANG-схем */
            if (configResults.update_num !== null
                && configResults.updates.length === 0) {
              this.notifications.push({
                message: `Device '${donorDevice.name}' (id ${donorDevice.cpe_id}) config is empty. `
                  + 'Cloning from the device is forbidden until '
                  + 'that device connects to the SDWAN for the first time.',
                time: new Date(),
              });
            } else {
              // Успешная загрузка конфига donorDeviceId
              this.$emit('submit');
              this.onClose();
            }
          });
        }
      });
    },
    onClose() {
      this.$emit('closed');
    },
  },
};
</script>

<style lang="scss">
  .clone-config-modal__title-column {
    min-width: 300px;
    word-break: break-all;
  }

  .clone-config-modal__alert {
    word-break: break-word;
  }
</style>
