<template>
  <!-- Модальное окно с уведомлением о том, что есть несоответствие между
       конфигурацией, которую хотел применить пользователь и той конфигурацией,
       которая действительно применилась -->
  <b-modal id="config-updates-modal" @hide="onClose"
    size="lg" scrollable dialog-class="draggable-modal"
  >
    <template #modal-title>
      Warning! These changes were also applied to CPE config!
    </template>

    <b-table striped hover :items="items" :fields="table_fields"
      sticky-header="500px" no-border-collapse>

      <!-- update_status выводим как цветной текст -->
      <template #cell(update_status)="data">
        <span :class="GetColorVariant(data.item.update_status)">
          {{data.item.update_status}}
        </span>
      </template>
    </b-table>

    <template #modal-footer>
      <b-button variant="primary" @click="onSubmit()">
        OK
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import Vue from 'vue';
import {
  BTable,
} from 'bootstrap-vue';
import ModelCpeConfigParam from '@/models/cpe_config_param';

Vue.component('b-table', BTable);

export default {
  methods: {
    /**
     * Показать модальное окно, в котором отображатся diff.
     * diff - массив изменений параметров конфигурации, в формате приёма из API
     */
    show(diff) {
      this.items = diff; // Инициализация хранилища

      this.$bvModal.show('config-updates-modal');
    },
    onSubmit() {
      this.$emit('submit');
      this.onClose();
    },
    onClose() {
      this.$bvModal.hide('config-updates-modal');
    },
    // Получить класс с цветом текста по значению updateStatus
    GetColorVariant(updateStatus) {
      if (updateStatus === ModelCpeConfigParam.GetUpdateStatusEnum().CREATED) {
        return 'text-success';
      }

      if (updateStatus === ModelCpeConfigParam.GetUpdateStatusEnum().DELETED) {
        return 'text-danger';
      }

      if (updateStatus === ModelCpeConfigParam.GetUpdateStatusEnum().UPDATED) {
        return 'text-info';
      }

      return '';
    },
  },
  data() {
    const items = [];

    return {
      items,
      table_fields: [
        {
          key: 'config_name',
          label: 'Param',
          sortable: true,
        },
        {
          key: 'config_type',
          label: 'Type',
          sortable: true,
        },
        {
          key: 'config_value',
          label: 'Value',
          sortable: true,
        },
        {
          key: 'update_status',
          label: 'Action',
          sortable: true,
        },
      ],
    };
  },
};
</script>
