<template>
  <!-- Модальное окно с формой добавления/редактирования параметра конфигурации -->
  <div>
    <b-modal id="config-param-upsert-form" no-close-on-backdrop @hide="onClose"
      dialog-class="draggable-modal" size="lg"
    >
      <template #modal-title>
        <span v-if="param">Edit CPE config param</span>
        <span v-else>Add CPE config param</span>
      </template>

      <b-alert
        v-for="(item, index) in notifications" :key="index"
        show
        variant="danger"
      >{{item.message}}</b-alert>

      <!-- В форме используем textarea для имени параметра и значения, так как
           текст в этих полях может быть длинным и удобней видеть его на
           нескольких строках -->
      <b-form @submit="onPrepareToSubmit">
        <!-- Имя редактируемо только при создании нового параметра, перенос строки запрещён -->
        <label for="config-param-upsert-form__config-name">Param name:</label>
        <b-form-textarea id="config-param-upsert-form__config-name"
          @keydown.enter.prevent
          class="mb-2"
          v-model="edited_param.config_name"
          placeholder="Enter param name"
          rows="5"
          max-rows="10"
          :readonly="param ? true : false"
        ></b-form-textarea>

        <label for="config-param-upsert-form__config-type">Param type:</label>
        <b-form-select id="config-param-upsert-form__config-type"
          class="mb-2"
          v-model="edited_param.config_type"
          :options="type_options"></b-form-select>

        <label for="config-param-upsert-form__config-value">Param value:</label>
        <b-form-textarea id="config-param-upsert-form__config-value"
          class="mb-2"
          style="font-family: monospace;"
          v-model="edited_param.config_value"
          placeholder="Enter param value"
          rows="5"
        ></b-form-textarea>
      </b-form>

      <template #modal-footer>
        <b-button @click="onClose()">
          Cancel
        </b-button>

        <b-button variant="primary" @click="onPrepareToSubmit()">
          Submit
        </b-button>
      </template>

    </b-modal>

    <!-- Модалка с предупреждением об авто-добавлении параметров с ключами -->
    <key-config-params-modal
      ref="key-config-params-modal-ref"
      :key_params="key_params"
      @submit="submit"
    ></key-config-params-modal>
  </div>
</template>

<script>
import Vue from 'vue';
import ModelCpeConfigParam from '@/models/cpe_config_param';
import {
  FormPlugin, BForm, BFormTextarea, AlertPlugin, FormSelectPlugin,
} from 'bootstrap-vue';
import KeyConfigParamsModal from './key_config_params_modal.vue';

Vue.use(AlertPlugin);
Vue.use(FormPlugin);
Vue.use(FormSelectPlugin);
Vue.component('b-form', BForm);
Vue.component('b-form-textarea', BFormTextarea);

export default {
  components: { KeyConfigParamsModal },
  props: [
    'param', /* Редактируемый параметр.
              * Если не передан, то это значит, что идёт создание нового параметра. */
    'config', /* Полный конфиг. Нужен для валидации, чтобы в конфиге не оказывалось несколько
               * параметров с одинаковым config_name. */
    'clone_mode', /* true, если находимся в процессе клонирования конфигурации. Иначе, false */
  ],
  methods: {
    validation() {
      let result = true;

      if (this.edited_param.config_name === undefined
          || this.edited_param.config_name.length === 0) {
        this.notifications.push({
          message: 'Enter param name',
          time: new Date(),
        });
        result = false;
      }

      // Отсекаем переносы строк в config_name
      if (/\r|\n/.exec(this.edited_param.config_name)) {
        this.notifications.push({
          message: 'Param name contains line break',
          time: new Date(),
        });
        result = false;
      }

      // Проверяем соответствие type и value
      switch (this.edited_param.config_type) {
        case ModelCpeConfigParam.GetParamTypeEnum().COMPLEX:
          try {
            JSON.parse(this.edited_param.config_value);
          } catch (e) {
            this.notifications.push({
              message: 'Complex param value must be a valid JSON',
              time: new Date(),
            });
            result = false;
          }
          break;
        default:
          // todo: проверять соответствие остальных type и value
          break;
      }

      /* Проверяем, что не пытаемся создать новый параметр с уже занятым именем.
         Но, при этом, если старый параметр был удалён, то даём создать новый
         параметр "поверх" старого */
      if (this.original_config_name === undefined) {
        this.config.forEach((configParam) => {
          if (!configParam.is_expander
            && configParam.config_name === this.edited_param.config_name
            && !configParam.is_deleted) {
            this.notifications.push({
              message: 'Param already exists',
              time: new Date(),
            });
            result = false;
          }
        });
      }

      return result;
    },
    /**
     * Сформировать и вернуть массив с параметрами-ключами, которые должны быть
     * авто-добавлены в конфиг.
     */
    fillKeyParams() {
      const keyParams = []; // Возвращаемый массив

      // Если не generic config, то ничего не добавляем
      if (this.edited_param.config_name[0] !== '/') {
        return keyParams;
      }

      // Массив с ключами и их значениями - отлавливаем всё, что в квадратных скобках
      const xpathKeys = this.edited_param.config_name.match(/\[.*?\]/g);
      if (!xpathKeys) {
        return keyParams;
      }

      // Последовательность символов, отделяющая ключи на текущем уровне дерева от следующего уровня
      const divider = "']/";

      // pathString - та часть config_name, в которой будем вести дальнейший поиск
      let pathString = this.edited_param.config_name;

      for (const key of xpathKeys) {
        // Обновляем значение pathString - отсекаем всё, что до текущего ключа
        pathString = pathString.substr(pathString.indexOf(key));

        // Позиция в pathString, на которой заканчивается уровень дерева с текущим ключом
        const pathStringIndex = pathString.indexOf(divider) + divider.length;
        // Позиция в config_name, на которой заканчивается уровень дерева с текущим ключом
        const configNameIndex = pathStringIndex + this.edited_param.config_name.indexOf(pathString);

        // Префикс имени ключа
        const keyPrefix = this.edited_param.config_name.substring(0, configNameIndex);
        // Отлавливаем имя ключа
        const keyName = key.substring(1, key.indexOf("='"));

        // Если имя-точка, то не добавляем параметр
        if (keyName === '.') {
          continue;
        }

        // Отлавливаем значение ключа
        const keyValue = key.substring(key.indexOf("='") + 2, key.length - 2);

        // Заполняем новый mandatory параметр
        const keyParam = new ModelCpeConfigParam();
        keyParam.config_name = keyPrefix + keyName;
        keyParam.config_type = ModelCpeConfigParam.GetParamTypeEnum().STRING;
        keyParam.mandatory = true;
        keyParam.config_value = keyValue;

        // Проверяем, что такого параметра ещё нет в конфиге
        let paramExists = false;
        this.config.forEach((configParam) => {
          if (keyParam.config_name === configParam.config_name) {
            paramExists = true;
          }
        });

        // Это и есть добавляемый/редактируемый параметр. Не добавляем новый
        if (keyParam.config_name === this.edited_param.config_name) {
          paramExists = true;
        }

        // Помечаем параметр к добавлению в конфиг
        if (!paramExists) {
          keyParams.push(keyParam);
        }
      }

      return keyParams;
    },
    /**
     * Валидация введённых данных, вывод предупреждения об авто-добавлении параметров-ключей.
     * Если всё прошло хорошо, то вызываем submit()
     */
    onPrepareToSubmit() {
      this.notifications = [];

      // Обрезаем пробелы в начале и конце config_name
      if (this.edited_param.config_name) {
        this.edited_param.config_name = this.edited_param.config_name.trim();
      }

      if (!this.validation()) {
        return;
      }

      // Заполняем массив с авто-добавляемыми параметрами-ключами
      this.key_params = this.fillKeyParams();

      if (this.param || this.key_params.length === 0) {
        this.submit();
      } else {
        // Если создаём новый параметр и есть авто-добавляемые параметры, то выводим подтверждение.
        this.openKeyConfigParamsModal();
      }
    },
    submit() {
      this.$emit('submit', this.original_config_name, this.edited_param, this.key_params);
      this.onClose();
    },
    onClose() {
      this.$emit('closed');
    },
    /**
     * Показать модалку с предупреждением об авто-добавлении параметров
     */
    openKeyConfigParamsModal() {
      this.$refs['key-config-params-modal-ref'].show();
    },
  },
  data() {
    const editedParam = new ModelCpeConfigParam();
    if (this.param !== undefined) {
      editedParam.CloneModelCpeConfigParam(this.param);
    } else {
      // Выставляем тип параметра по умолчанию
      editedParam.config_type = ModelCpeConfigParam.GetParamTypeEnum().STRING;
      // Выставляем значение по умолчанию
      editedParam.config_value = '';
      editedParam.read_only = false;
    }

    // Заполняем варианты options для select типа параметра
    const typeOptions = [];
    const typeKeys = Object.keys(ModelCpeConfigParam.GetParamTypeEnum());
    const typeValues = Object.values(ModelCpeConfigParam.GetParamTypeEnum());
    for (let i = 0; i < typeKeys.length; i += 1) {
      // Если находимся в процессе клонирования, то не даём добавлять complex-параметры
      const disabled = typeValues[i] === ModelCpeConfigParam.GetParamTypeEnum().COMPLEX
        && this.clone_mode;
      typeOptions.push({
        value: typeValues[i],
        text: typeValues[i],
        disabled,
      });
    }

    return {
      edited_param: editedParam, // Изменяемый/добавляемый ModelCpeConfigParam
      original_config_name: editedParam.config_name, /* Имя изменяемого параметра.
                                                      * undefined для создаваемого параметра */
      notifications: [],
      type_options: typeOptions, // варианты config_type
      key_params: [], // Список авто-добавляемых параметров-ключей
      key_params_modal_show: false,
    };
  },
};
</script>
