<template>
  <!-- Дополнительная шапка с произвольным контентом, прибитая под основной шапкой -->
  <header class="controls-header">
    <slot></slot>
  </header>
</template>

<script>
import Vue from 'vue';

export default {
};
</script>

<style scoped lang="scss">
  .controls-header {
    position: fixed;
    z-index: 1000;
    top: 56px; // Под основной шапкой
    left: 0;
    right: 0;
    height: 66px;
    width: 100%;
    border-bottom: 1px solid var(--info);
    background-color: var(--light);

    // Вертикальное выравнивание контента по центру
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
</style>
