<template>
  <!-- Упрощённые формы для конфигурации (simple config),
       контент генерируется на основе статичного json-файла -->
  <b-row>

    <!-- Выводим каждую форму в отдельной колонке шириной form_width -->
    <b-col v-for="(form_item, form_index) in config_form"
      :id='"params-form-" + form_item.form_id'
      :key="form_index"
      class="mb-3"
      :cols="form_item.form_width"
    >
      <b-form>
        <!-- Первая секция формы - одна строка с одной колонкой на всю ширину формы -->
        <b-row class="mb-3">
          <b-col>

            <!-- Линия, отделяющая эту форму от расположенной выше формы
                 или от заголовка h1 страницы -->
            <hr>

            <!-- Заголовок формы, label ведёт на выпадающий список для выбора
                 значения ключевого параметра -->
            <label :for='"params-form-" + form_item.form_id + "-key"'>
              <h2>{{form_item.form_header}}</h2>
            </label>

            <!-- В формах с несколькими ключами поле выбора ключа это не один из
                 field_item, а вот такой отдельный выпадающий список -->
            <b-row v-if="form_item.key_options.length > 1">
              <!-- Выпадающий список для выбора значения ключевого параметра -->
              <b-col :cols="null">
                <b-form-select
                  :id='"params-form-" + form_item.form_id + "-key"'
                  v-model="form_item.select_key_value"
                  @change="onKeyChange(form_item, form_index)"
                  :options="form_item.key_options"
                ></b-form-select>
              </b-col>

              <!-- Кнопка удаления существующего объекта -->
              <b-col v-if="form_item.add_new && form_item.key_value !== null" md="auto">
                <b-button
                  variant="danger"
                  @click="deleteForm(form_index)"
                >Delete</b-button>
              </b-col>
            </b-row>

          </b-col>
        </b-row>

        <!-- Основная секция формы - одна строка, содержит колонки с полями -->
        <b-row>
          <!-- Выводим все колонки из массива form_columns. Каждая колонка
               имеет свою ширину column_width и может содержать несколько полей -->
          <b-col
            v-for="(column_item, column_index) in form_item.form_columns"
            :key="column_index"
            :cols="column_item.column_width"
          >

            <!-- Строка-обёртка вокруг колонки -->
            <b-row>
              <!-- Колонка под одно поле, его лейбл и кнопки.
                   Колонка имеет ширину outer_width.
                   Для полей-списков отступ вниз не делаем -->
              <template v-for="(field_item, field_index) in column_item.column_fields">
                <b-col
                  v-if="isFieldRendered(field_item)"
                  :key="field_index"
                  :cols="field_item.outer_width"
                  :class="{ 'mb-3' : !field_item.is_list}"
                >

                  <!-- Лейбл поля -->
                  <label
                    v-if="isFieldLabeled(column_item, field_item, field_index)"
                    :for="getFieldID(field_item)"
                  >{{field_item.label}}</label>

                  <!-- Нотификация поля -->
                  <b-alert
                    v-for="(message, index) in field_item.notifications" :key="index"
                    show
                    variant="danger"
                  >{{message}}</b-alert>

                  <!-- Кнопка добавления поля (не для полей-списков) -->
                  <b-button
                    v-if="field_item.is_deleted && !field_item.is_list"
                    variant="info"
                    @click="field_item.is_deleted = false"
                  >Add</b-button>

                  <template v-if="!field_item.is_deleted">
                    <!-- Строка-обёртка вокруг колонки.
                         С отступом вниз между полями-списками -->
                    <b-row :class="{ 'mb-1' : field_item.is_list}">
                      <!-- Колонка с одним полем, имеет ширину inner_width -->
                      <b-col :cols="field_item.inner_width">

                        <!-- Выводим поле нужного типа -->
                        <b-form-select
                          v-if="field_item.input_type === input_types.DROPDOWN"
                          :id="getFieldID(field_item)"
                          :disabled="isFieldDisabled(form_item, field_item)"
                          :state="isFieldValid(field_item) ? null : false"
                          v-model="field_item.config_value"
                          :options="field_item.dropdown_options"
                          @change="onFieldChange(form_item, form_index, field_item)"
                        ></b-form-select>
                        <b-form-checkbox
                          v-else-if="field_item.input_type === input_types.CHECKBOX"
                          :id="getFieldID(field_item)"
                          :disabled="isFieldDisabled(form_item, field_item)"
                          :state="isFieldValid(field_item) ? null : false"
                          v-model="field_item.config_value"
                          @change="onFieldChange(form_item, form_index, field_item)"
                        >{{field_item.label}}</b-form-checkbox>
                        <b-form-textarea
                          v-else-if="field_item.input_type === input_types.TEXTAREA"
                          :id="getFieldID(field_item)"
                          :disabled="isFieldDisabled(form_item, field_item)"
                          :state="isFieldValid(field_item) ? null : false"
                          v-model="field_item.config_value"
                          style="font-family: monospace;"
                          placeholder="Enter value"
                          rows="5"
                          @change="onFieldChange(form_item, form_index, field_item)"
                        ></b-form-textarea>
                        <b-form-input
                          v-else
                          :id="getFieldID(field_item)"
                          :disabled="isFieldDisabled(form_item, field_item)"
                          :state="isFieldValid(field_item) ? null : false"
                          v-model="field_item.config_value"
                          placeholder="Enter value"
                          @change="onFieldChange(form_item, form_index, field_item)"
                        ></b-form-input>

                      </b-col>

                      <!-- Кнопка удаления поля -->
                      <b-col
                        v-if="!field_item.required"
                        md="auto"
                      >
                        <b-button
                          variant="danger"
                          @click="onFieldRemove(form_item, field_item)"
                        >Remove</b-button>
                      </b-col>
                    </b-row>
                  </template>

                  <!-- Кнопка добавления поля в список (с отступом вниз к
                       следующему полю, которое уже не является частью списка),
                       выводим её только для последнего поля в списке -->
                  <b-row
                    v-if="isFieldLastInList(column_item, field_item, field_index)"
                    class="mb-3"
                  >
                    <b-col>
                      <b-button
                        variant="info"
                        @click="listFieldAdd(form_item, field_item)"
                      >Add</b-button>
                    </b-col>
                  </b-row>

                </b-col >
              </template>
            </b-row>
          </b-col>
        </b-row>

      </b-form>
    </b-col>
  </b-row>
</template>

<script>
/* eslint-disable no-param-reassign */
/* eslint-disable no-lonely-if */

import Vue from 'vue';
import {
  FormPlugin, BForm, BFormTextarea, FormCheckboxPlugin, BFormInput,
} from 'bootstrap-vue';
import { InputTypes, ParseConfigFormJson } from '@/helpers/parse_config_form_json';

import ModelCpeConfigParam from '@/models/cpe_config_param';

Vue.use(FormPlugin);
Vue.component('b-form', BForm);
Vue.component('b-form-textarea', BFormTextarea);
Vue.use(FormCheckboxPlugin);
Vue.component('b-form-input', BFormInput);

export default {
  data() {
    return {
      input_types: InputTypes,
      items: [], // Сссылка на массив параметров родительского компонента
      config_form: [], // Формат для вывода форм
      config_form_fields: [], /* Массив ссылок на все поля из config_form,
                               * без учёта их пренадлежности к разным формам
                               * и разным колонкам в формах */
    };
  },
  methods: {
    /**
     * Для поля fieldItem проверяем условия field_conditions.
     * Возвращаем true, если условий нет или они выполняются.
     * Иначе, возвращаем false
     */
    checkFieldConditions(fieldItem) {
      // У поля нет условий на вывод
      if (fieldItem.field_conditions === undefined) {
        return true;
      }

      /* У поля есть условия на вывод. Для каждого условия проверяем,
       * находится ли поле condition_field_id в значении condition_field_value */
      for (const condition of fieldItem.field_conditions) {
        const conditionField = this.config_form_fields.find(
          (field) => field.field_id === condition.condition_field_id,
        );

        if (conditionField.config_value !== condition.condition_field_value) {
          // Условие не соблюдается
          return false;
        }
      }

      // Все условия соблюдаются
      return true;
    },

    /**
     * Возвращаем true, если поле нужно вывести в форме.
     * Иначе, возвращаем false
     */
    isFieldRendered(fieldItem) {
      // Скрытые поля не выводим
      if (fieldItem.input_type === this.input_types.HIDDEN) {
        return false;
      }

      // Поле под read-only параметр, но параметра в конфиге нет - не выводим
      if (fieldItem.read_only_field && fieldItem.initial_param === null) {
        return false;
      }

      // Проверяем field_conditions
      return this.checkFieldConditions(fieldItem);
    },

    /**
     * Возвращаем true, если для поля нужно вывести label.
     * Иначе, возвращаем false
     */
    isFieldLabeled(columnItem, fieldItem, fieldIndex) {
      // У чекбокса уже есть лейбл внутри b-form-checkbox
      if (fieldItem.input_type === this.input_types.CHECKBOX) {
        return false;
      }

      // Для обычных полей (не полей-списков) просто выводим лейбл
      if (!fieldItem.is_list) {
        return true;
      }

      // Для полей-списков лейбл выводим только для первого поля в списке
      if (this.isFieldFirstInList(columnItem, fieldItem, fieldIndex)) {
        return true;
      }

      // Для последующих полей в списке лейбл не выводим
      return false;
    },

    /**
     * Возвращаем строку с html id поля
     * (оно же используется для лейбла этого поля)
     */
    getFieldID(fieldItem) {
      return `params-form-field-${fieldItem.field_id}`;
    },

    /**
     * Возвращаем true, если поле должно быть disabled
     * Иначе, возвращаем false
     */
    isFieldDisabled(formItem, fieldItem) {
      /* disabled для ключевых полей (кроме ситуаций, когда добавляем новый
       * объект в форму, то есть вводим новое значение ключевого поля) */
      if (fieldItem.is_key && formItem.key_value !== null) { return true; }

      /* disabled для read-only полей */
      if (fieldItem.read_only_field) { return true; }

      return false;
    },

    /**
     * Возвращаем true, если fieldItem это поле-список и это первое поле
     * в списке. Иначе, возвращаем false
     */
    isFieldFirstInList(columnItem, fieldItem, fieldIndex) {
      // Если fieldItem это не поле-список, то выходим
      if (!fieldItem.is_list) {
        return false;
      }

      // Колока только началась - значит, и список только начался
      if (fieldIndex === 0) {
        return true;
      }

      // Предыдущее поле не часть списка - список только начался
      if (columnItem.column_fields[fieldIndex - 1].param_name !== fieldItem.param_name) {
        return true;
      }

      // Предыдущее поле есть и это часть списка
      return false;
    },

    /**
     * Возвращаем true, если fieldItem это поле-список и это последнее поле
     * в списке. Иначе, возвращаем false
     */
    isFieldLastInList(columnItem, fieldItem, fieldIndex) {
      // Если fieldItem это не поле-список, то выходим
      if (!fieldItem.is_list) {
        return false;
      }

      // Колока закончилась - список закончился
      if (fieldIndex === columnItem.column_fields.length - 1) {
        return true;
      }

      // Следующее поле не часть списка - список закончился
      if (columnItem.column_fields[fieldIndex + 1].param_name !== fieldItem.param_name) {
        return true;
      }

      // Следующее поле есть и это часть списка
      return false;
    },

    /**
     * Возвращаем true, если у поля fieldItem нет ошибок.
     * Иначе, возвращаем false
     */
    isFieldValid(fieldItem) {
      return fieldItem.notifications.length === 0;
    },

    /**
     * Возвращаем false, если хотя бы у одного поля любой формы есть ошибка.
     * Иначе, возвращаем true
     */
    allFieldsValid() {
      for (const field of this.config_form_fields) {
        if (!this.isFieldValid(field)) {
          return false;
        }
      }

      return true;
    },

    /**
     * Заполняем поля field (кроме полей form_index и is_key)
     */
    initField(field, isDeleted) {
      /* config_value - текущее значение, это v-model поля в форме */
      field.config_value = field.default_value;
      /* initial_value - начальное значение (без неприменённых
       * пользовательских изменений) */
      field.initial_value = field.config_value;
      /* initial_param - ссылка на изначально соответствующий полю
       * параметр из массива items (после того как пользователь поменяет
       * значение поля, оно может перестать соответствовать этому
       * параметру) */
      field.initial_param = null;
      /* is_deleted - boolean, текущее значение флага удалённости поля.
       * Если поле не обязательное, то по умолчанию оно удалено */
      field.is_deleted = isDeleted;
      /* initial_deleted - boolean, начальное значение флага
       * удалённости поля */
      field.initial_deleted = field.is_deleted;
      /* notifications - массив строк с сообщениями об ошибках */
      field.notifications = [];
    },

    /**
     * Подготавливаем компонент к работе:
     * Создаём связь между массивом items этого компонента и массивом параметров
     * itemsArray родительского компонента.
     * Парсим файл с форматом вывода форм.
     * Заполняем config_form_fields и config_form
     */
    initComponent(itemsArray) {
      this.items = itemsArray;

      ParseConfigFormJson().then((response) => {
        this.config_form_fields = [];

        /* Заполняем тут некоторые поля в начальные значения, до присваивания в config_form,
         * чтобы эти поля были реактивными */
        response.forEach((form, formIndex) => {
          // Текущее выбранное значение ключевого поля
          form.select_key_value = null;
          // Варианты значений ключевого поля
          form.key_options = [];

          form.form_columns.forEach((column) => {
            column.column_fields.forEach((field) => {
              /* form_index - индекс формы в массиве config_form, в которой
               * находится это поле. Нужен, чтобы понимать какой форме
               * принадлежит поле при работе с массивом config_form_fields */
              field.form_index = formIndex;

              this.initField(field, !field.required);

              // Заполняем общий массив ссылок на поля
              this.config_form_fields.push(field);
            });
          });
        });

        this.config_form = response;
        this.generateForms();
      });
    },

    /**
     * Заполняем массив значений ключей key_options в соответствии
     * с key_field_ids, key_options_format и флагом add_new.
     * Выставляем флаг is_key для ключевых полей
     */
    fillFormKeyOptions(formItem) {
      formItem.key_options = [];

      // key_field_ids пустой, выходим
      if (formItem.key_field_ids.length === 0) {
        return;
      }

      // Отмечаем все ключи
      formItem.key_field_ids.forEach((keyFieldId) => {
        const keyField = this.config_form_fields.find(
          (field) => field.field_id === keyFieldId,
        );

        // keyField должен быть, это уже проверяли в ParseConfigFormJson()
        keyField.is_key = true;
      });

      /* Перебирать все ключи в форме не обязателно, берём только первый ключ.
       * Потому что параметр конфига, если он попадает под шаблон имени одного
       * из ключей, должен содержать в себе значения всех ключевых полей.
       *
       * Например, если в форме есть два ключа slot и port, то параметр
       * /controller[slot='slotId'][port='portId']/slot содержит
       * в имени и значение slot и значение port.
       * Тогда те же значения slot и port будут в параметре
       * /controller[slot='slotId'][port='portId']/port
       * Получается, одного такого параметра хватит, чтобы заполнить объект
       * в key_options, второй раз (при другом значении keyFieldId) получили бы
       * такой же объект, который нет смысла повторно добавлять в key_options */
      const keyFieldId = formItem.key_field_ids[0];
      const keyField = this.config_form_fields.find(
        (field) => field.field_id === keyFieldId,
      );

      if (keyField) {
        keyField.reg_exp.lastIndex = 0;
        const paramNameMatches = keyField.reg_exp.exec(keyField.param_name);

        // Ищем параметры в конфиге, соответствующие ключевому полю keyField
        this.items.forEach((configItem) => {
          if (!configItem.is_deleted) {
            keyField.reg_exp.lastIndex = 0;
            const configMatches = keyField.reg_exp.exec(configItem.config_name);
            if (configMatches
                && paramNameMatches.length === configMatches.length) {
              let keyFormat = formItem.key_options_format;
              const keyValues = {};

              // Заполняем keyFormat и keyValues
              for (let match = 1; match < paramNameMatches.length; match += 1) {
                const fieldMatchId = paramNameMatches[match];
                const paramMatchValue = configMatches[match];

                keyFormat = keyFormat.replace(`'${fieldMatchId}'`, `${paramMatchValue}`);
                keyValues[fieldMatchId] = paramMatchValue;
              }

              // Ищем, есть ли уже такой ключ в key_options
              const alreadyExists = formItem.key_options.find((key) => key.text === keyFormat);

              if (!alreadyExists) {
                // Ключа нет, добавляем новый
                formItem.key_options.push({
                  value: keyValues,
                  text: keyFormat,
                });
              }
            }
          }
        });
      }

      if (formItem.add_new === true) {
        // Добавляем ключ для добавления нового объекта
        formItem.key_options.push({
          value: null,
          text: 'Add new',
        });
      }

      // Ключ по умолчанию - первый в массиве
      formItem.key_value = formItem.key_options[0].value;
      formItem.select_key_value = formItem.key_value;
    },

    /**
     * 1. Если требуется, то обновляем связь между массивом items этого
     *    компонента и массивом параметров itemsArray родительского компонента.
     * 2. Для каждого поля генерируем регулярку для отлова параметров.
     * 3. Заполняем массив значений ключей key_options
     *    и выставляем флаг is_key для ключевых полей.
     * 4. Устанавливаем связь между полями формы и параметрами конфига,
     *    заполняем поля формы в соответствии со значениями параметров в конфиге
     */
    generateForms(itemsArray = null) {
      if (itemsArray) {
        this.items = itemsArray;
      }

      /* Для каждого поля на основе param_name генерируем и запоминаем
       * регулярку для отлова подходящих под шаблон параметров */
      this.config_form_fields.forEach((field) => {
        let fieldName = field.param_name;
        if (fieldName) {
          // Экранируем слеши
          fieldName = fieldName.replace(/[/]/g, '\\/');
          // Экранируем открывающие квадратные скобки
          fieldName = fieldName.replace(/[[]/g, '\\[');
          /* Заменяем всё, что находится в одинарных кавычках на регулярку
           * по отлову того, что находится в одинарных кавычках */
          fieldName = fieldName.replace(/'([^']*?)'/g, '\'([^\']*?)\'');
          // Сохраняем регулярку
          field.reg_exp = new RegExp(`^${fieldName}$`, 'g');
        }
      });

      this.config_form.forEach((form, formIndex) => {
        this.fillFormKeyOptions(form);
        this.fillFormFields(formIndex);
      });
    },

    /**
     * Проверяем все поля в форме на наличие изменений в значении
     * или статусе удалённости. Если нашлось хотя бы одно изменение, то
     * генерируем событие formChanges, иначе событие noFormChanges
     */
    checkFormsForChanges() {
      const changes = this.config_form_fields.find(
        (field) => field.config_value !== field.initial_value
          || field.is_deleted !== field.initial_deleted,
      );
      if (changes === undefined) {
        this.$emit('noFormChanges');
      } else {
        this.$emit('formChanges');
      }
    },

    /**
     * Обрабатываем удаление поля
     */
    onFieldRemove(formItem, fieldItem) {
      fieldItem.is_deleted = true;
      this.submitField(formItem, fieldItem);
      this.checkFormsForChanges();
    },

    /**
     * Обрабатываем изменение значения поля
     */
    onFieldChange(formItem, formIndex, fieldItem) {
      /* Обрабатываем добавление нового ключа
       * (Работает только для форм с одним ключом. А в формах с несколькими
       * ключами поле выбора ключа это не fieldItem, а отдельный выпадающий
       * список со своей опцией "add new") */
      if (fieldItem.is_key
          && formItem.key_value === null
          && formItem.key_field_ids.length === 1) {
        // Смотрим, не существует ли уже такое значение ключа
        let newKey = formItem.key_options.find(
          (key) => key.value !== null && key.value[fieldItem.field_id] === fieldItem.config_value,
        );

        if (newKey === undefined) { // Добавление нового ключа в форму
          let keyFormat = formItem.key_options_format;
          keyFormat = keyFormat.replace(`'${fieldItem.field_id}'`, `${fieldItem.config_value}`);

          const keyValues = {};
          keyValues[fieldItem.field_id] = fieldItem.config_value;

          newKey = {
            value: keyValues,
            text: keyFormat,
          };

          formItem.key_options.push(newKey);
          formItem.select_key_value = newKey.value;
          formItem.key_value = formItem.select_key_value;
        } else { // Ключ уже существует, просто выбираем его
          formItem.select_key_value = newKey.value;
          formItem.key_value = formItem.select_key_value;
          /* Перезаполняем форму в соответствии с выбранным ключом
           * (при этом любые пользовательские изменения, сделанные в полях
           * формы до ввода значения ключевого поля пропадут) */
          this.fillFormFields(formIndex);
        }
      }

      this.submitField(formItem, fieldItem);

      this.checkFormsForChanges();
    },

    /**
     * Обрабатываем изменение значения ключа в форме
     */
    onKeyChange(formItem, formIndex) {
      // Проверяем, есть ли сейчас ошибки в полях формы
      let allValid = true;
      for (const column of formItem.form_columns) {
        for (const field of column.column_fields) {
          if (!this.isFieldValid(field)) {
            allValid = false;
            break;
          }
        }

        if (allValid === false) {
          break;
        }
      }

      if (allValid) {
        // Перезаполняем форму в соответствии с выбранным ключом
        formItem.key_value = formItem.select_key_value;
        this.fillFormFields(formIndex);
      } else {
        // Не даём поменять значение ключа
        formItem.select_key_value = formItem.key_value;
      }
    },

    /**
     * Добавление нового поля к полю-списку fieldItem
     */
    listFieldAdd(formItem, fieldItem) {
      // Новое поле получаем клонированием fieldItem
      const newField = JSON.parse(JSON.stringify(fieldItem));
      /* Поскольку fieldItem.reg_exp это объект класса RegExp,
       * то копируем его напрямую, а не через JSON.parse(JSON.stringify()) */
      newField.reg_exp = fieldItem.reg_exp;

      this.initField(newField, false);

      /* Чтобы checkFormsForChanges() правильно отрабатывал
       * появление и удаление полей в списках */
      newField.initial_deleted = true;

      this.config_form_fields.push(newField);

      /* Ищем в массиве form_columns колонку, в которой находится поле fieldItem
       * и добавляем newField в массив column_fields этой колонки */
      let columnFound = false;
      for (const column of formItem.form_columns) {
        for (let fieldIndex = 0; fieldIndex < column.column_fields.length; fieldIndex += 1) {
          if (column.column_fields[fieldIndex] === fieldItem) {
            column.column_fields.splice(fieldIndex + 1, 0, newField);
            columnFound = true;
            break;
          }
        }
        if (columnFound) {
          break;
        }
      }

      this.checkFormsForChanges();
      return newField;
    },

    /**
     * Устанавливаем связь между полями формы formIndex и параметрами конфига,
     * заполняем поля формы в соответствии со значениями параметров в конфиге.
     */
    fillFormFields(formIndex) {
      const form = this.config_form[formIndex];

      /* Чистим поля-списки - оставим только первое поле в каждом списке.
       * Сначала составляем список полей, которые удалим - cloneFields */
      const cloneFields = [];
      for (const column of form.form_columns) {
        for (let fieldIndex = 0; fieldIndex < column.column_fields.length; fieldIndex += 1) {
          const field = column.column_fields[fieldIndex];

          if (field.is_list
              && !this.isFieldFirstInList(column, field, fieldIndex)) {
            cloneFields.push(field);
          }
        }
      }

      // Удаляем cloneFields из config_form_fields и из config_form
      for (const field of cloneFields) {
        this.config_form_fields = this.config_form_fields.filter((f) => f !== field);

        for (const column of form.form_columns) {
          column.column_fields = column.column_fields.filter((f) => f !== field);
        }
      }

      const fields = this.config_form_fields.filter((f) => f.form_index === formIndex);

      for (const field of fields) {
        // Ставим значения по умолчанию
        this.initField(field, !field.required);

        field.reg_exp.lastIndex = 0;
        const paramNameMatches = field.reg_exp.exec(field.param_name);

        // Ищем параметры fullMatchItems в конфиге, соответствующие полю field
        const fullMatchItems = [];
        for (const configItem of this.items) {
          if (configItem.is_deleted) {
            continue;
          }

          if (configItem.read_only !== field.read_only_field) {
            continue;
          }

          field.reg_exp.lastIndex = 0;
          const configMatches = field.reg_exp.exec(configItem.config_name);

          if (configMatches
              && paramNameMatches.length === configMatches.length) {
            let fullMatch = true;
            for (let match = 1; match < paramNameMatches.length; match += 1) {
              const fieldMatchId = paramNameMatches[match];
              const paramMatchValue = configMatches[match];
              const matchedField = this.config_form_fields.find((f) => f.field_id === fieldMatchId);

              if (fieldMatchId === field.field_id) {
                // Ссылка была на это же самое поле
                const isKey = form.key_field_ids.find((key) => key === fieldMatchId);
                if (isKey) {
                  if (form.key_value !== null) {
                    // eslint-disable-next-line eqeqeq
                    if (configItem.config_value != form.key_value[fieldMatchId]) {
                      fullMatch = false;
                    }
                  } else {
                    fullMatch = false;
                  }
                // eslint-disable-next-line eqeqeq
                } else if (configItem.config_value != paramMatchValue) {
                  fullMatch = false;
                }
              } else {
                // Ссылка была на другое поле
                const isKey = form.key_field_ids.find((key) => key === fieldMatchId);
                if (isKey) {
                  if (form.key_value !== null) {
                    // eslint-disable-next-line eqeqeq
                    if (paramMatchValue != form.key_value[fieldMatchId]) {
                      fullMatch = false;
                    }
                  } else {
                    fullMatch = false;
                  }
                // eslint-disable-next-line eqeqeq
                } else if (matchedField.config_value != paramMatchValue) {
                  fullMatch = false;
                }
              }
            }

            if (fullMatch) {
              fullMatchItems.push(configItem);
              if (!field.is_list) {
                break;
              }
            }
          }
        }

        // Заполняем config_value в field в соответствии со значениями fullMatchItems
        for (let itemIndex = 0; itemIndex < fullMatchItems.length; itemIndex += 1) {
          const fullMatchItem = fullMatchItems[itemIndex];
          let editedField = field;
          if (field.is_list && itemIndex > 0) {
            const newField = this.listFieldAdd(form, field);
            editedField = newField;
          }

          if (editedField.param_value) {
            // Сложное соотношение значений поля в форме и значений параметра в конфиге
            editedField.param_value.forEach((paramValue) => {
              if (paramValue.config_action
                  === ModelCpeConfigParam.GetConfigActionEnum().SET) {
                const fieldId = paramValue.config_value_field_id;
                const valueField = this.config_form_fields.find((f) => f.field_id === fieldId);
                if (fullMatchItem.config_value === valueField.config_value) {
                  editedField.config_value = paramValue.input_value;
                }
              }
            });
          } else {
            // Прямое соотношение между значением поля и значением параметра в конфиге
            editedField.config_value = fullMatchItem.config_value;
          }

          editedField.initial_param = fullMatchItem;
          editedField.initial_value = editedField.config_value;
          editedField.is_deleted = false;
          editedField.initial_deleted = editedField.is_deleted;
        }
      }
    },

    /**
     * Удаляем все параметры к конфига, связанные с текущим выбранным ключом
     * в форме formIndex
     */
    deleteForm(formIndex) {
      // Удаляем параметры конфига
      const form = this.config_form[formIndex];
      const fields = this.config_form_fields.filter((f) => f.form_index === formIndex);
      fields.forEach((field) => {
        if (field.initial_param !== null) {
          field.initial_param.is_deleted = true;
          this.$emit('setParamSyncStatus', field.initial_param);
        }
      });

      // Старый ключ удаляем
      form.key_options = form.key_options.filter((key) => key.value !== form.key_value);

      // Меняем ключ и перезагружаем форму
      form.select_key_value = form.key_options[0].value;
      form.key_value = form.select_key_value;
      this.fillFormFields(formIndex);

      this.checkFormsForChanges();
    },

    /**
     * Переносим изменения поля fieldItem формы formItem в параметр конфига
     * (создаём/удаляем/изменяем параметр конфига)
     */
    submitField(formItem, fieldItem) {
      // Очищаем существующие сообщения об ошибках
      fieldItem.notifications = [];

      // read-only-поля не обрабатываем
      if (fieldItem.read_only_field) {
        return;
      }

      // Выводим ошибку об отсутствии обязательного поля
      if (fieldItem.required
          && !fieldItem.read_only_field
          && this.checkFieldConditions(fieldItem) // Только если условия на вывод соблюдены
          && (fieldItem.is_deleted
              || fieldItem.config_value === ''
              || fieldItem.config_value === null)) {
        fieldItem.notifications.push(`${fieldItem.label} is required`);
        return;
      }

      // Поле удалено, а initial_param нету - ничего делать с конфигом не надо
      if (fieldItem.input_type !== this.input_types.HIDDEN
          && fieldItem.is_deleted
          && fieldItem.initial_param === null) {
        return;
      }

      fieldItem.reg_exp.lastIndex = 0;
      const paramNameMatches = fieldItem.reg_exp.exec(fieldItem.param_name);

      // Ищем в конфиге существующий параметр, соответствующий полю field
      let fullMatchItem = null;
      for (const configItem of this.items) {
        fieldItem.reg_exp.lastIndex = 0;
        const configMatches = fieldItem.reg_exp.exec(configItem.config_name);

        if (configMatches
            && paramNameMatches.length === configMatches.length) {
          let fullMatch = true;
          for (let match = 1; match < paramNameMatches.length; match += 1) {
            const fieldMatchId = paramNameMatches[match];
            const paramMatchValue = configMatches[match];

            if (fieldMatchId === fieldItem.field_id) {
              // Ссылка была на это же самое поле
              // eslint-disable-next-line eqeqeq
              if (fieldItem.config_value != paramMatchValue) {
                fullMatch = false;
              }
            } else {
              /* Ссылка была на другое поле (не сработает, если другое поле
               * это is_list - у них у всех field_id одинаковый) */
              const matchedField = this.config_form_fields.find(
                (f) => f.field_id === fieldMatchId,
              );
              // eslint-disable-next-line eqeqeq
              if (matchedField.config_value != paramMatchValue) {
                fullMatch = false;
              }
            }
          }

          if (fullMatch) {
            fullMatchItem = configItem;
            break;
          }
        }
      }

      // Нашли параметр - обновляем его значение и флаг удалённости
      if (fullMatchItem !== null) {
        if (fieldItem.param_value) {
          // Сложное соотношение значений поля в форме и значений параметра в конфиге
          fieldItem.param_value.forEach((paramValue) => {
            if (paramValue.input_value === fieldItem.config_value) {
              if (paramValue.config_action
                  === ModelCpeConfigParam.GetConfigActionEnum().SET) {
                const fieldId = paramValue.config_value_field_id;
                const valueField = this.config_form_fields.find((f) => f.field_id === fieldId);
                fullMatchItem.config_value = valueField.config_value;
                fullMatchItem.is_deleted = false;
              } else if (paramValue.config_action
                         === ModelCpeConfigParam.GetConfigActionEnum().DELETE) {
                fullMatchItem.is_deleted = true;
              }
            }
          });
        } else {
          // Прямое соотношение между значением поля и значением параметра в конфиге
          if (fieldItem.input_type === this.input_types.HIDDEN) {
            fullMatchItem.is_deleted = false;
          } else if (fieldItem.param_is_deleted_by_default
                     && fieldItem.config_value === fieldItem.default_value) {
            fullMatchItem.is_deleted = true;
          } else {
            fullMatchItem.is_deleted = fieldItem.is_deleted
              || !this.isFieldRendered(fieldItem);
          }
          if (!fullMatchItem.is_deleted) {
            fullMatchItem.config_value = fieldItem.config_value;
          }
        }

        if (fieldItem.initial_value !== fieldItem.config_value
            || fieldItem.initial_deleted !== fieldItem.is_deleted) {
          this.$emit('setParamSyncStatus', fullMatchItem);
        }

        /* Найденный параметр не совпадает с тем, который был выставлен
         * в fillFormFields() - старый параметр удаляем */
        if (fieldItem.initial_param !== null
            && fullMatchItem.config_name !== fieldItem.initial_param.config_name) {
          fieldItem.initial_param.is_deleted = true;
        }

        fieldItem.initial_param = fullMatchItem;
      } else {
        // Не нашлось существующего параметра в конфиге
        let newParam = null;

        // Создаём его, если нужно
        let paramNeeded = false;
        if (fieldItem.input_type === this.input_types.HIDDEN) {
          paramNeeded = true;
        }
        if (!fieldItem.param_is_deleted_by_default
            || fieldItem.config_value !== fieldItem.default_value) {
          paramNeeded = !fieldItem.is_deleted && this.isFieldRendered(fieldItem);
        }
        if (paramNeeded) {
          newParam = new ModelCpeConfigParam();

          // eslint-disable-next-line prefer-destructuring
          newParam.config_name = paramNameMatches[0];
          for (let match = 1; match < paramNameMatches.length; match += 1) {
            const fieldMatchId = paramNameMatches[match];
            let matchedField = fieldItem;
            if (fieldMatchId !== fieldItem.field_id) {
              matchedField = this.config_form_fields.find((f) => f.field_id === fieldMatchId);
            }
            const value = matchedField.config_value;
            newParam.config_name = newParam.config_name.replace(
              `'${fieldMatchId}'`, `'${value}'`,
            );
          }

          newParam.config_type = fieldItem.config_type;
          newParam.read_only = false;

          if (fieldItem.param_value) {
            // Сложное соотношение значений поля в форме и значений параметра в конфиге
            fieldItem.param_value.forEach((paramValue) => {
              if (fieldItem.config_value === paramValue.input_value
                  && paramValue.config_action
                     === ModelCpeConfigParam.GetConfigActionEnum().SET) {
                const fieldId = paramValue.config_value_field_id;
                const valueField = this.config_form_fields.find((f) => f.field_id === fieldId);
                newParam.config_value = valueField.config_value;
                this.$emit('createItem', newParam);
              }
            });
          } else {
            // Прямое соотношение между значением поля и значением параметра в конфиге
            newParam.config_value = fieldItem.config_value;
            this.$emit('createItem', newParam);
          }
        }

        // Cтарый параметр удаляем
        if (fieldItem.initial_param !== null) {
          fieldItem.initial_param.is_deleted = true;
        }

        if (newParam) {
          const newConfigItem = this.items.find(
            (item) => item.config_name === newParam.config_name,
          );
          if (newConfigItem) {
            fieldItem.initial_param = newConfigItem;

            if (fieldItem.initial_value !== fieldItem.config_value
                || fieldItem.initial_deleted !== fieldItem.is_deleted) {
              this.$emit('setParamSyncStatus', newConfigItem);
            }
          }
        }
      }
    },
  },
};
</script>
