<template>
  <!-- Компонент с таблицей и формой конфигурации устройства -->
  <div>
    <!-- Заголовок страницы -->
    <h1>Device "{{device_name}}" config (id {{device_id}})</h1>

    <!-- Шапка -->
    <controls-header>
      <b-container class="mw-100">
        <b-row align-v="center">
          <!-- Переключение между страницей с упрощёнными формами конфигурации
               (simple config) и страницей с таблицей конфигурации (raw config) -->
          <b-col md="auto">
            <b-button @click="toggleRawConfigShow()">
              <span v-if="show_raw_config">Simple config</span>
              <span v-else>Raw config</span>
            </b-button>
          </b-col>

          <!-- Счётчик параметров -->
          <b-col v-if="show_raw_config" md="auto">
            <span class="text-info">Params count: {{paramsCount}}</span>
          </b-col>

          <!-- Вызов модалки клонирования конфига
               (со списком устройств-доноров) -->
          <b-col md="auto">
            <b-button
              variant="info"
              v-b-modal="'clone-config-modal'"
              @click="openCloneModal()"
            >Clone config</b-button>
          </b-col>

          <!-- Вызов модалки добавления нового параметра -->
          <b-col v-if="show_raw_config" md="auto">
            <b-button
              variant="primary"
              v-b-modal="'config-param-upsert-form'"
              @click="openEditModal()"
            >Add new param</b-button>
          </b-col>

          <!-- Чекбокс показа/скрытия read-only параметров -->
          <b-col v-if="show_raw_config" md="auto">
            <b-form-checkbox
              :disabled="clone_mode"
              v-model="show_read_only_params"
              @change="toggleReadOnlyParams()"
            >Show read-only params</b-form-checkbox>
          </b-col>

          <b-col md="auto" class="ml-auto">
            <!-- Отмена клонирования -->
            <b-button v-if="clone_mode"
              variant="danger"
              :disabled="!leave_confirmation"
              @click="confirmCloningCancel()"
            >Cancel cloning</b-button>
            <!-- Отмена изменений конфига -->
            <b-button v-else
              variant="danger"
              :disabled="!leave_confirmation"
              @click="confirmChangesDiscard()"
            >Discard all changes</b-button>
          </b-col>

          <b-col md="auto">
            <!-- Вызов модалки подтверждения клонирования -->
            <b-button v-if="clone_mode"
              variant="success"
              :disabled="!leave_confirmation"
              @click="applyClonedConfig()"
            >Apply config</b-button>
            <!-- Вызов модалки применения конфига -->
            <b-button v-else
              variant="success"
              :disabled="!leave_confirmation"
              v-b-modal="'apply-config-modal'"
              @click="openApplyModal()"
            >Apply config</b-button>
          </b-col>
        </b-row>
      </b-container>
    </controls-header>

    <!-- Страница с упрощёнными формами конфигурации (simple config).
         Для отображения/скрытия используется v-show, чтобы в этом компоненте
         иметь возможность вызывать методы компонента device-config-form
         через ref даже когда отображается raw config, а не simple config -->
    <device-config-form
      v-show="!show_raw_config"
      ref="device-config-form-ref"
      @createItem="createItem"
      @formChanges="setUnloadConfirmation"
      @noFormChanges="manageUnloadConfirmation"
      @setParamSyncStatus="setParamSyncStatus"
    ></device-config-form>

    <!-- Таблица параметров (raw config). Используем b-table-simple вместо
         b-table для дополнительного контроля над thead, tbody и tr -->
    <b-table-simple v-if="show_raw_config"
      small striped id='config-table'
      sticky-header no-border-collapse class="zelax-sticky-header table-hover-border"
    >

      <b-thead head-variant="light">
        <b-tr>
          <b-th>
            Param
            <!-- Раскрыть все свёртки таблицы -->
            <b-button size="sm" class="ml-3" @click="expandAll()">Expand all</b-button>
          </b-th>
          <b-th>Type</b-th>
          <b-th>Value</b-th>
          <b-th></b-th>
        </b-tr>
      </b-thead>

      <b-tbody class="keep-spaces">
        <b-tr v-for="item in visibleItems"
          :key="item.config_name"
          :variant="item.sync_status"
          :class="{ 'param-deleted': item.is_deleted }">

          <!-- Вывод строки со свёрткой -->
          <template v-if="item.is_expander">
            <b-td class="name-cell name-cell--expander" variant="secondary"
              @click="expand(item.expander_prefix)"
            >
              <!-- Выводим префикс имён параметров, попавших в свёртку -->
              <template v-for="(name_part, index) in item.splitted_config_name">
                <span :key="index">{{name_part}}</span><!--
                --><span :key="'separator-' + index"
                  v-if="index < item.splitted_config_name.length - 1"
                  class="name-cell__separator"
                >/</span>
              </template>
              <span class="name-cell__extra-info text-secondary"> ... </span>
              <span class="name-cell__extra-info text-secondary"
              >({{item.collapsed_params_count}} params)</span>
              <!-- Для многоуровневых свёрток выводим кнопку "развернуть всё" -->
              <b-button size="sm" class="ml-3"
                v-if="item.is_nested"
                @click="expandAll(item.expander_prefix)"
              >Expand all</b-button>
            </b-td>
            <b-td @click="expand(item.expander_prefix)" class="cell-clickable"></b-td>
            <b-td @click="expand(item.expander_prefix)" class="cell-clickable"></b-td>
            <!-- Удаление всех параметров свёртки -->
            <b-td class="controls-cell" >
              <b-button v-if="item.not_deleted_params_count > 0
                              && !item.is_read_only"
                class="compact-button float-right"
                @click="switchBranchDeleteFlag(item, true)"
                variant="danger"
                size="sm"
              >Delete {{item.not_deleted_params_count}} params</b-button>

              <b-button v-if="item.deleted_params_count > 0"
                class="compact-button float-right"
                @click="switchBranchDeleteFlag(item, false)"
                variant="info"
                size="sm"
              >Restore {{item.deleted_params_count}} params</b-button>
            </b-td>
          </template>

          <!-- Вывод строки с параметром конфигурации -->
          <template v-else>
            <!-- Выводим разделённое слэшами имя параметра -->
            <b-td class="name-cell">
              <template v-for="(name_part, index) in item.splitted_config_name">
                <span :key="index">{{name_part}}</span><!--
                --><span :key="'separator-' + index"
                  v-if="index < item.splitted_config_name.length - 1"
                  class="name-cell__separator text-primary"
                  @click="collapse(item.separator_prefix[index])"
                >/</span>
              </template>
              <div v-if="item.rejected" class="name-cell__rejected-label">REJECTED</div>
            </b-td>
            <!-- Выводим тип параметра -->
            <b-td>{{item.config_type}}</b-td>
            <!-- Выводим значение параметра -->
            <b-td class="value-cell">{{item.config_value}}</b-td>

            <b-td class="controls-cell" v-if="!item.read_only && !item.is_deleted">
              <!-- Вызов модалки редактирования параметра -->
              <b-button
                class="compact-button"
                v-b-modal="'config-param-upsert-form'"
                @click="openEditModal(item)"
                size="sm"
              >Edit</b-button>
              <!-- Удаление параметра -->
              <b-button
                class="compact-button"
                @click="switchParamDeleteStatus(item)"
                v-if="!item.mandatory"
                variant="danger"
                size="sm"
              >Delete</b-button>
            </b-td>
            <b-td class="controls-cell" v-else-if="item.is_deleted">
              <!-- Отмена удаления параметра -->
              <b-button
                class="compact-button float-right"
                @click="switchParamDeleteStatus(item)"
                variant="info"
                size="sm"
              >Restore</b-button>
            </b-td>
            <b-td v-else class="controls-cell">Read-only</b-td>
          </template>

        </b-tr>
      </b-tbody>
    </b-table-simple>

    <!-- Модалка клонирования конфига (со списком устройств-доноров) -->
    <clone-config-modal
      v-if="clone_modal_show"
      :device_list="device_list"
      :device_id="device_id"
      @closed="closeCloneModal"
      @submit="submitCloneModal"
    ></clone-config-modal>

    <!-- Модалка добавления/редактирования параметров -->
    <config-param-upsert-form
      v-if="edit_param_modal_show"
      :param="edit_param"
      :config="items"
      :clone_mode="clone_mode"
      @closed="closeEditModal"
      @submit="submitEditModal"
    ></config-param-upsert-form>

    <!-- Модалка применения конфига -->
    <apply-config-modal
      v-if="apply_modal_show"
      :diff="getConfigDiff()"
      @closed="closeApplyModal"
      @submit="applyConfig"
      @discard="confirmChangesDiscard"
    ></apply-config-modal>

    <!-- Модальное окно с уведомлением о том, что есть несоответствие между
         конфигурацией, которую хотел применить пользователь и той конфигурацией,
         которая действительно применилась -->
    <config-updates-modal
      ref="config-updates-modal-ref"
    ></config-updates-modal>

    <div v-if="show_preloader">Loading device config...</div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */

import Vue from 'vue';
import { mapGetters } from 'vuex';
import {
  TableSimplePlugin, ModalPlugin,
} from 'bootstrap-vue';
import CpeConfigApi from '@/bridges/api/cpe_config_api';
import CpeListApi from '@/bridges/api/cpe_list_api';
import ModelCpe from '@/models/cpe';
import ModelCpeConfigParam from '@/models/cpe_config_param';
import ModelNotification from '@/models/notification';
import ConfigParamUpsertForm from './config_param_upsert_form.vue';
import ApplyConfigModal from './apply_config_modal.vue';
import CloneConfigModal from './clone_config_modal.vue';
import ControlsHeader from './controls_header.vue';
import ConfigUpdatesModal from './config_updates_modal.vue';
import DeviceConfigForm from './device_config_form.vue';

Vue.use(TableSimplePlugin);
Vue.use(ModalPlugin);

export default {
  components: {
    ConfigParamUpsertForm,
    CloneConfigModal,
    ApplyConfigModal,
    ControlsHeader,
    ConfigUpdatesModal,
    DeviceConfigForm,
  },
  data() {
    return {
      device_id: this.$route.params.id,
      device_name: '',
      items: [],
      edit_param: null, // Отправляемый на редактирование параметр
      clone_mode: false, // true, если находимся в процессе клонирования
      clone_modal_show: false,
      edit_param_modal_show: false,
      apply_modal_show: false,
      leave_confirmation: false, // Установлено ли предупреждение на покидание страницы
      update_num: null, // Последний известный update_num
      config_api_uri: '', // Ссылка на получение/применение конфига
      show_preloader: true, // Показывать сообщение о идущей загрузке
      show_read_only_params: false, // Флаг отображения read-only параметров в конфиге
      show_raw_config: false, /* Флаг переключения между отображением страницы упрощённых форм
                               * (simple config) и таблицы параметров (raw config) */
    };
  },
  computed: {
    ...mapGetters({
      raw_items: 'cpeConfig/list',
      device_list: 'cpeList/list',
    }),
    paramsCount() {
      return this.items.filter(
        (item) => !item.is_expander
                  && !item.is_deleted,
      ).length;
    },
    /**
     * Отображаемые в таблице параметры и свёртки. Отфильтровываем:
     * 1. Попавшие в свёртку
     * 2. read-only-параметры, если не выставлен флажок показа read-only-параметров
     * 3. complex-параметры, если находимся в процессе клонирования
     */
    visibleItems() {
      return this.items.filter(
        (item) => item.collapsed_by_prefix.length === 0
                  && (!item.read_only || this.show_read_only_params)
                  && (!this.clone_mode
                      || item.config_type !== ModelCpeConfigParam.GetParamTypeEnum().COMPLEX),
      );
    },
  },
  mounted() {
    this.load();
    this.clearUnloadConfirmation();
  },
  beforeDestroy() {
    this.$store.commit('cpeConfig/clear');
    this.clearUnloadConfirmation();
  },
  methods: {
    /**
     * Получаем ссылку на конфиг и грузим сам конфиг,
     * выставляем флаг показа read-only параметров
     */
    load() {
      // Получаем ссылку на конфиг
      CpeConfigApi().getCpeData(this.device_id).then((dataResults) => {
        // Запоминаем имя
        this.device_name = this.device_list.find((dev) => dev.cpe_id === this.device_id).name;

        this.config_api_uri = dataResults.api_link;

        // Выставляем флаг показа read-only параметров
        this.show_read_only_params = dataResults.sync_state
          === ModelCpe.GetSynchronizationStateEnum().COMPLETE;

        if (this.config_api_uri) {
          /* Делаем запрос на получение конфига, загружаем массив raw_items из vuex,
           * заполняем массив items */
          CpeConfigApi().getCpeConfig(
            this.device_id, this.config_api_uri, this.update_num,
          ).then((configResults) => {
            this.show_preloader = false;

            /* При первой загрузке получили пустой конфиг - устройство ни разу
             * не подключалось к SDWAN и SDWAN не знает YANG-схем.
             * Всё равно ничего не сможем настроить, поэтому заранее
             * запрещаем конфигурацию. */
            if (this.update_num === null
                && configResults.update_num !== null
                && configResults.updates.length === 0) {
              this.$store.dispatch('notifications/add', new ModelNotification({
                message: `Device '${this.device_id}' config is empty. `
                + 'Configuration is forbidden until that device '
                + 'connects to the SDWAN for the first time.',
                type: ModelNotification.GetNotificationTypeEnum().DANGER,
                critical: true,
              }));
            }

            this.update_num = configResults.update_num;
            this.initItems();

            /* Парсим файл с форматом вывода форм и устанавливаем связь между
             * параметрами конфига и полями форм */
            this.$refs['device-config-form-ref'].initComponent(this.items);
          });
        }
      });
    },

    /**
     * Превращаем хранимый в store конфиг (raw_items) в новый отображаемый
     * конфиг (items). После этого неприменённых пользовательских изменений
     * не остаётся, а отображаемый конфиг соответствует актуальному известному
     * конфигу. Свёртки и sync_status'ы не сохраняются.
     */
    initItems() {
      this.items = [];

      /* Дополняем полученные от vuex данные (raw_items) информацией,
         нужной для правильного отображения - формируем items */
      this.raw_items.forEach((rawItem) => {
        // Создаём новый item
        this.createItem(rawItem);
      });

      this.sortItems();
    },

    /**
     * Актуализация конфига без выкидывания неприменённых пользовательских
     * изменений.
     * updates - изменения, которые применил контроллер, в формате API
     */
    updateItems(updates) {
      // Запоминаем, для каких параметров надо обновить свёртки
      const refreshExpandersForItems = [];

      updates.forEach((updateItem) => {
        const sourceItem = new ModelCpeConfigParam();
        sourceItem.UpdateFromApi(updateItem);

        const userItem = this.items.find((item) => item.config_name === updateItem.config_name);
        if (userItem) {
          // Обновляем параметр в конфиге
          userItem.CloneModelCpeConfigParam(sourceItem);

          // Если надо, то меняем флаг is_deleted для item
          if (updateItem.update_status
              === ModelCpeConfigParam.GetUpdateStatusEnum().DELETED) {
            userItem.is_deleted = true;
          } else {
            userItem.is_deleted = false;
          }

          /* sync_status обновляем только для UNAPPLIED параметров, так как,
             например, при изменении интерфейса в ответ всегда приходит
             generic-параметр ".../name" со старым (не менявшимся) значением,
             а такое подсвечивать как APPLIED или UNEXPECTED не хотим */
          if (userItem.sync_status
              === ModelCpeConfigParam.GetSyncStatusEnum().UNAPPLIED) {
            userItem.sync_status = ModelCpeConfigParam.GetSyncStatusEnum().APPLIED;
          }

          refreshExpandersForItems.push(userItem);
        } else if (updateItem.update_status
                   !== ModelCpeConfigParam.GetUpdateStatusEnum().DELETED) {
          // Добавляем параметр в конфиг
          this.createItem(sourceItem);

          const newItem = this.items[this.items.length - 1];
          newItem.sync_status = ModelCpeConfigParam.GetSyncStatusEnum().APPLIED;

          refreshExpandersForItems.push(newItem);
        }
      });

      // Обновляем свёртки, если надо
      if (refreshExpandersForItems.length > 0) {
        this.refreshExpanders(refreshExpandersForItems);
      }
    },

    /**
     * На входе получаем inputItem, в котором задан config_name.
     * Клонируем inputItem, дополняем клона полями, нужными для правильного отображения в таблице.
     * Помещаем получившийся item в this.items
     */
    createItem(inputItem) {
      const item = new ModelCpeConfigParam();
      item.CloneModelCpeConfigParam(inputItem);
      item.InitGuiFields();
      this.items.push(item);
    },

    /**
     * Сортируем items. complex-параметры ставим в начало, generic-параметры
     * в конец. В пределах групп complex и generic сортируем по имени параметра
     */
    sortItems() {
      this.items.sort((item1, item2) => {
        // generic-параметры начинаются с '/'
        if (item1.config_name[0] !== '/'
            && item2.config_name[0] === '/') {
          return -1;
        }
        if (item2.config_name[0] !== '/'
            && item1.config_name[0] === '/') {
          return 1;
        }
        if (item1.config_name < item2.config_name) {
          return -1;
        }
        return 1;
      });
    },

    /**
     * Пересоздаём свётки, под которые попадают все параметры из itemsArray
     * (например, ради обновления sync_status, флага is_deleted и счётчиков
     * параметров свёрток в связи с изменениями данных параметров itemsArray)
     */
    refreshExpanders(itemsArray) {
      let expandersPrefixes = [];
      /* Для каждого параметра itemsArray запоминаем, под какие существующие
         свёртки он попадает */
      itemsArray.forEach((item) => {
        for (const separatorPrefix of item.separator_prefix) {
          // Смотрим, существует ли свёртка для такого separatorPrefix
          const expander = this.items.find(
            (expanderItem) => expanderItem.is_expander
              && separatorPrefix === expanderItem.expander_prefix,
          );

          if (expander) {
            expandersPrefixes.push(expander.expander_prefix);
          }
        }
      });

      // Убираем дубликаты из expandersPrefixes
      expandersPrefixes = expandersPrefixes.filter(
        (item, index) => expandersPrefixes.indexOf(item) === index,
      );

      /* Сортируем свёртки в том порядке, в котором их можно убрать (сначала
         более короткие, затем более длинные) и убираем все нужные свёртки */
      expandersPrefixes = expandersPrefixes.sort((a, b) => a.length - b.length);
      expandersPrefixes.forEach((expandersPrefix) => {
        this.expand(expandersPrefix);
      });

      /* Сортируем свёртки в том порядке, в котором их можно добавить (сначала
         более длинные, затем более короткие) и добавляем все нужные свёртки */
      expandersPrefixes = expandersPrefixes.sort((a, b) => b.length - a.length);
      expandersPrefixes.forEach((expandersPrefix) => {
        this.collapse(expandersPrefix);
      });
    },

    /**
     * Добавить свёртку параметров
     */
    collapse(targetSlashPrefix) {
      // Ищем все параметры, попадающие под свёртку
      const targetItems = this.items.filter(
        (item) => item.config_name.startsWith(targetSlashPrefix),
      );

      // Добавляем параметры в свёртку
      targetItems.forEach((item) => {
        item.collapsed_by_prefix.unshift(targetSlashPrefix);
      });

      // Создаём item-свёртку
      const newExpander = new ModelCpeConfigParam();
      newExpander.TurnToExpander(targetSlashPrefix);

      /* setExpanderFields() запускаем нерекурсивно - подразумеваем, что на
         более глубоких уровнях вложенности всё и так должно быть актуально.
         Создание новой свёртки ведь никак не должно влиять на то, сколько там
         в свёртке более глубокого уровня, например, удалённых параметров */
      this.setExpanderFields(newExpander, 0, false);

      // Добавляем item-свёртку
      this.items.push(newExpander);
      this.sortItems();
    },

    /**
     * Устанавливаем sync_status для параметра
     */
    setParamSyncStatus(item) {
      const rawItem = this.raw_items.find(
        (i) => i.config_name === item.config_name,
      );

      if ((item.is_deleted && rawItem) // Удалён ранее существовавший параметр
          || (!item.is_deleted && !rawItem) // Восстановлен новый неприменённый параметр
          || (!item.is_deleted && rawItem // Восстановлен ранее существовавший параметр...
             && (rawItem.config_type !== item.config_type // ... новым с неприменённым значением
                 || rawItem.config_value !== item.config_value))) {
        // Статус UNAPPLIED для отредактированного параметра
        item.sync_status = ModelCpeConfigParam.GetSyncStatusEnum().UNAPPLIED;
      } else {
        /* Удалён ранее несуществовавший параметр или восстановлен ранее
           существовавший параметр с уже применённым значением */

        // Параметр вернулся в изначальное значение
        item.sync_status = ModelCpeConfigParam.GetSyncStatusEnum().UNCHANGED;
      }
    },

    /**
     * Для свёртки expanderItem заполняем поля, отражающие состав параметров
     * в свёртке.
     *
     * Поле sync_status выставляем по следующим приоритетам:
     * 1. Если есть хотя бы 1 UNAPPLIED-параметр, то статус свёртки UNAPPLIED.
     * 2. Если все параметры в свёртке со статусом APPLIED, то APPLIED.
     * 3. Если все параметры в свёртке со статусом UNEXPECTED, то UNEXPECTED.
     * 4. Иначе, статус свёртки UNCHANGED
     *
     * Если recoursive в значении true, то запускаем setExpanderFields()
     * и для всех вложенных свёрток тоже
     */
    setExpanderFields(expanderItem, depth, recoursive) {
      const branchItems = this.items.filter(
        (item) => item.collapsed_by_prefix.length !== 0
                  && item.collapsed_by_prefix[depth] === expanderItem.expander_prefix,
      );

      // Выставляем значения по умолчанию
      expanderItem.sync_status = ModelCpeConfigParam.GetSyncStatusEnum().UNCHANGED;
      expanderItem.is_nested = false;
      expanderItem.is_deleted = true;
      expanderItem.is_read_only = true;
      expanderItem.collapsed_params_count = 0;
      expanderItem.deleted_params_count = 0;
      expanderItem.not_deleted_params_count = 0;

      // Флаги для определения sync_status
      let unappliedParams = false;
      let appliedParams = false;
      let unexpectedParams = false;

      branchItems.forEach((item) => {
        if (item.is_expander) {
          // Помечаем свёртку как многоуровневую
          expanderItem.is_nested = true;

          if (recoursive) {
            // Рекурсивно обновляем вложенные свёртки
            this.setExpanderFields(item, depth + 1, true);
          }
        } else if (!item.read_only || this.show_read_only_params) {
          expanderItem.collapsed_params_count += 1;

          // Нашёлся хотя бы один не read-only параметр? Тогда это не read-only ветка
          if (!item.read_only) {
            expanderItem.is_read_only = false;
          }

          if (item.is_deleted) {
            expanderItem.deleted_params_count += 1;
          } else {
            expanderItem.not_deleted_params_count += 1;
            // Нашёлся хотя бы один не удалённый параметр? Тогда это не удалённая ветка
            expanderItem.is_deleted = false;
          }

          // Проверяем sync_status параметра
          if (item.sync_status === ModelCpeConfigParam.GetSyncStatusEnum().UNAPPLIED) {
            unappliedParams = true;
          } else if (item.sync_status === ModelCpeConfigParam.GetSyncStatusEnum().APPLIED) {
            appliedParams = true;
          } else if (item.sync_status === ModelCpeConfigParam.GetSyncStatusEnum().UNEXPECTED) {
            unexpectedParams = true;
          }
        }
      });

      // Выставляем sync_status свёртки
      if (unappliedParams) {
        expanderItem.sync_status = ModelCpeConfigParam.GetSyncStatusEnum().UNAPPLIED;
      } else if (appliedParams) {
        expanderItem.sync_status = ModelCpeConfigParam.GetSyncStatusEnum().APPLIED;
      } else if (unexpectedParams) {
        expanderItem.sync_status = ModelCpeConfigParam.GetSyncStatusEnum().UNEXPECTED;
      }
    },

    /**
     * Сменить статус удалённости параметра
     */
    switchParamDeleteStatus(item) {
      item.is_deleted = !item.is_deleted;

      // Обновляем sync_status
      this.setParamSyncStatus(item);

      // Cтавим/убираем подтверждение на уход со страницы
      this.manageUnloadConfirmation();
    },

    /**
     * Сменить флаг удалённости свёртки и всех попавших в неё параметров
     * на newStatus
     */
    switchBranchDeleteFlag(expanderItem, newStatus) {
      // Флаг удалённости самой свёртки поменяем в setExpanderFields()

      // Меняем флаг удалённости параметров из свёртки и вложенных свёрток
      this.items.forEach((item) => {
        if (item.collapsed_by_prefix.length !== 0
            && item.collapsed_by_prefix[0] === expanderItem.expander_prefix
            && item.is_deleted !== newStatus) {
          item.is_deleted = newStatus;

          if (!item.is_expander) {
            // Обновляем sync_status
            this.setParamSyncStatus(item);
          }
        }
      });

      this.setExpanderFields(expanderItem, 0, true);

      // Cтавим/убираем подтверждение на уход со страницы
      this.manageUnloadConfirmation();
    },

    /**
     * Убрать свёртку параметров
     */
    expand(expanderPrefix) {
      // Обновляем collapsed_by_prefix для всех item-ов, входивших в эту свёртку
      this.items.forEach((item) => {
        if (item.collapsed_by_prefix[0] === expanderPrefix) {
          item.collapsed_by_prefix.shift();
        }
      });

      // Удаляем свёртку
      this.items = this.items.filter(
        (item) => !(item.is_expander && item.expander_prefix === expanderPrefix),
      );
    },

    /**
     * Убрать все свёртки, начиная с префикса prefix.
     * Если prefix не задан, то развернутся вообще все свёртки.
     */
    expandAll(prefix) {
      // Для параметров конфигурации очищаем список свёрток, за которыми этот параметр спрятан
      this.items.forEach((item) => {
        if (!item.is_expander
            && (!prefix // Либо нет префикса
                || (prefix // Либо префикс есть и item под него попадает
                    && item.collapsed_by_prefix.length !== 0
                    && item.collapsed_by_prefix[0] === prefix))) {
          item.collapsed_by_prefix = [];
        }
      });

      // Удаляем свёртки
      this.items = this.items.filter((item) => !(item.is_expander
            && (!prefix // Либо нет префикса
                || (prefix // Либо префикс есть и item под него попадает
                    && item.collapsed_by_prefix.length !== 0
                    && item.collapsed_by_prefix[0] === prefix))));
    },

    /**
     * Открытие формы клонирования конфига (со списком устройств-доноров)
     */
    openCloneModal() {
      /* Если есть неприменённые изменения, то предупреждаем,
       * что они не переживут клонирование */
      if (!this.leave_confirmation
          || window.confirm('You have unapplied changes.'
                            + ' They would be discarded in process of cloning')) {
        // Перезапрашиваем список устройств при каждом открытии
        CpeListApi().getCpeList();
        this.clone_modal_show = true;
      }
    },

    /**
     * Закрытие формы клонирования конфига (со списком устройств-доноров)
     */
    closeCloneModal() {
      this.clone_modal_show = false;
    },

    /**
     * Открытие формы редактирования/добавления параметра.
     */
    openEditModal(item) {
      this.edit_param = item;
      this.edit_param_modal_show = true;
    },

    /**
     * Закрытие формы редактирования/добавления параметра.
     */
    closeEditModal() {
      this.edit_param = null;
      this.edit_param_modal_show = false;
    },

    /**
     * Открытие формы применения конфига.
     */
    openApplyModal() {
      if (this.show_raw_config) {
        this.apply_modal_show = true;
      } else {
        const allValid = this.$refs['device-config-form-ref'].allFieldsValid();
        if (allValid) {
          this.apply_modal_show = true;
        }
      }
    },

    /**
     * Закрытие формы применения конфига.
     */
    closeApplyModal() {
      this.apply_modal_show = false;
    },

    /**
     * Обрабатываем submit формы клонирования конфига (со списком
     * устройств-доноров).
     * Заменяем текущий отображаемый конфиг на конфиг устройства-донора,
     * заменяем хранимый во vuex конфиг на конфиг устройства-донора
     * (не хотим чтобы появившиеся из-за этой замены изменения параметров
     * подсвечивались в таблице), отмечаем переход в режим клонирования,
     * снимаем флажок показа read-only параметров.
     */
    submitCloneModal() {
      this.initItems();
      this.setUnloadConfirmation();
      this.clone_mode = true;
      if (this.show_read_only_params) {
        this.show_read_only_params = false;
        this.toggleReadOnlyParams();
      }
    },

    /**
     * Обрабатываем submit формы редактирования/добавления параметра.
     * Меняем данные самого компонента, стейт Vuex не меняем.
     * Авто-добавляем в конфиг параметры-ключи keyParams.
     */
    submitEditModal(originalParamName, editedParam, keyParams) {
      // Ищем существующий item
      let oldItem;
      if (originalParamName && originalParamName.length !== 0) {
        // Редактирование параметра
        oldItem = this.items.find((item) => item.config_name === originalParamName);
      } else {
        // Создание нового параметра поверх удалённого
        oldItem = this.items.find((item) => item.config_name === editedParam.config_name);
      }

      if (oldItem) {
        // Обновляем item отредактированного параметра
        oldItem.config_type = editedParam.config_type;
        oldItem.config_value = editedParam.config_value;

        /* Eсли старый параметр был удалён, то восстанавливаем его
           и запоминаем, что надо обновить свёртки */
        let refreshExpanders = false;
        if (oldItem.is_deleted) {
          oldItem.is_deleted = false;

          refreshExpanders = true;
        }

        // Обновляем sync_status параметра
        this.setParamSyncStatus(oldItem);

        // Обновляем свёртки
        if (refreshExpanders) {
          const refreshExpandersForItems = [];
          refreshExpandersForItems.push(oldItem);
          this.refreshExpanders(refreshExpandersForItems);
        }

        this.manageUnloadConfirmation();
      } else {
        const refreshExpandersForItems = [];

        // Добавление item для нового параметра
        this.createItem(editedParam);

        // Статус UNAPPLIED для нового параметра
        this.items[this.items.length - 1]
          .sync_status = ModelCpeConfigParam.GetSyncStatusEnum().UNAPPLIED;

        // Запоминаем, что надо обновить свёртки
        refreshExpandersForItems.push(this.items[this.items.length - 1]);

        // Авто-добавляем в конфиг параметры-ключи
        keyParams.forEach((extraItem) => {
          // Добавление item
          this.createItem(extraItem);

          // Статус UNAPPLIED для авто-добавленного параметра-ключа
          this.items[this.items.length - 1]
            .sync_status = ModelCpeConfigParam.GetSyncStatusEnum().UNAPPLIED;

          // Запоминаем, что надо обновить свёртки
          refreshExpandersForItems.push(this.items[this.items.length - 1]);
        });

        // Обновляем свёртки
        this.refreshExpanders(refreshExpandersForItems);

        this.sortItems();
        this.setUnloadConfirmation();
      }
    },

    /**
     * Вернуть массив с текущими изменениями конфигурации, в формате отправки через API
     */
    getConfigDiff() {
      const deviceConfigDiff = []; // Итоговый массив изменений конфигурации
      const deletedItems = []; // Массив удалённых параметров

      // Перебираем items, отмечаем среди них новые, изменённые и неудалённые
      this.items.filter((item) => !item.is_expander).forEach((item) => {
        let isChanged = false;
        let isNew = true;
        let isDeleted = false;

        // По config_name ищем item среди raw_items
        const rawItem = this.raw_items.find(
          (originalItem) => originalItem.config_name === item.config_name,
        );

        // Отмечаем как isDeleted
        if (item.is_deleted) {
          isDeleted = true;
        }

        if (rawItem) {
          // Убираем отметку isNew
          isNew = false;

          // Отмечаем как isChanged
          if (rawItem.config_type !== item.config_type
              || rawItem.config_value !== item.config_value) {
            isChanged = true;
          }
        }

        if (isDeleted) {
          // Заполняем deletedItems удалёнными rawItem`ами
          if (!isNew) {
            deletedItems.push(rawItem);
          }
        } else if (isNew || isChanged) {
          // Заполняем deviceConfigDiff новыми и изменёнными item`ами
          const apiConfigParam = item.GetApiCpeConfigParamObject(
            ModelCpeConfigParam.GetConfigActionEnum().SET,
          );
          deviceConfigDiff.push(apiConfigParam);
        }
      });

      // Далее ищем "целиком удалённые поддеревья" в конфигурации
      let deletedSubtrees = []; // Префиксы удалённых поддеревьев

      // Заполняем deletedSubtrees
      deletedItems.forEach((deletedItem) => {
        let deletedSubtree = '';

        // Создаём временный объект, для которого заполняем separator_prefix
        const splittedNameForDeletedItem = new ModelCpeConfigParam();
        splittedNameForDeletedItem.splitString(deletedItem.config_name);

        /* Смотрим, есть ли данный префикс в неудалённых item`ах.
           Если нету, то поддерево было удалено по этому префиксу */
        for (const prefix of splittedNameForDeletedItem.separator_prefix) {
          let prefixFound = false;
          for (const notDeletedItem of this.items) {
            if (!notDeletedItem.is_deleted
                && notDeletedItem.config_name.startsWith(prefix)) {
              /* В режиме raw config мы можем удалять read-only параметры
               * через удаление свёрток. Поэтому для raw config не проверяем,
               * был ли параметр read-only (если пользователь хотел его
               * удалить, то он его удалил, что мы увидим по флагу is_deleted).
               * А в simple config мы не можем удалять read-only параметры.
               * Поэтому, в simple config поиск целиком удалённых поддеревьев
               * более "жадный" - для всех read-only параметров считаем,
               * что их всегда можно удалить, чтобы получить целиком удалённое
               * поддерево */
              if (this.show_raw_config || !notDeletedItem.read_only) {
                prefixFound = true;
                break;
              }
            }
          }

          if (!prefixFound) {
            deletedSubtree = prefix;
            break;
          }
        }

        if (deletedSubtree !== '') {
          deletedSubtrees.push(deletedSubtree);
        }
      });

      /* Убираем повторения в deletedSubtrees (так как на предыдущем шаге для
         всех удалённых параметров поддерева мы находили одинаковый prefix) */
      deletedSubtrees = deletedSubtrees.filter(
        (value, index, array) => array.indexOf(value) === index,
      );

      // Перебираем deletedSubtrees, заполняем deviceConfigDiff
      deletedSubtrees.forEach((deletedSubtree) => {
        const deletedSubtreeModel = new ModelCpeConfigParam();
        if (deletedSubtree[deletedSubtree.length - 1] === '/'
            && deletedSubtree.length > 1) {
          // Откидываем "/" с конца
          deletedSubtreeModel.config_name = deletedSubtree.slice(0, -1);
        } else {
          deletedSubtreeModel.config_name = deletedSubtree;
        }

        const deletedSubtreeApiObject = deletedSubtreeModel.GetApiCpeConfigParamObject(
          ModelCpeConfigParam.GetConfigActionEnum().DELETE,
        );
        deviceConfigDiff.push(deletedSubtreeApiObject);
      });

      return deviceConfigDiff;
    },

    /**
     * Выводим модальное окно с несоответствиями между конфигурацией, которую
     * хотел применить пользователь и той конфигурацией, которая действительно
     * применилась. Выставляем в отображаемом конфиге соответствующие sync_status'ы.
     *
     * initialConfig - начальный конфиг, ещё до изменений пользователя
     * userConfig - полный конфиг, который пытался применить пользователь
     * userDiff - изменения, которые пытался применить пользователь, в формате API
     * controllerDiff - изменения, которые применил контроллер, в формате API
     * error - была ли ошибка применения конфига (если ошибки не было,
     *         то неприменённые пользовательские изменения откатываем и
     *         отображаем это как неожиданные изменения)
     */
    showUnexpectedConfigUpdates(initialConfig, userConfig, userDiff, controllerDiff, error) {
      // Итоговый массив неожиданных изменений параметров (в формате приёма из API)
      const unexpectedConfigUpdates = [];

      /* В userDiff несколько удалённых параметров могут быть представлены одним
       * элементом массива, если они составляли "целиком удалённое поддерево"
       * (см. getConfigDiff()), а в controllerDiff на каждый такой параметр
       * будет отдельный элемент в массиве. Поэтому из userDiff формируем
       * expandedUserDiff, где каждый удалённый пользователем параметр это
       * отдельный элемент массива. */
      const expandedUserDiff = [];
      userDiff.forEach((userDiffItem) => {
        if (userDiffItem.config_action
            === ModelCpeConfigParam.GetConfigActionEnum().DELETE) {
          /* Считаем, что userDiffItem - удаляемое поддерево, а не один параметр.
           * В начальном конфиге ищем все параметры, которые попадали бы под это поддерево */
          initialConfig.forEach((initialItem) => {
            if (initialItem.config_name.startsWith(userDiffItem.config_name)) {
              const deletedItem = initialItem.GetApiCpeConfigParamObject(
                ModelCpeConfigParam.GetConfigActionEnum().DELETE,
              );
              expandedUserDiff.push(deletedItem);
            }
          });
        } else {
          // Добавление новых параметров или изменение существующих переносим без изменений.
          expandedUserDiff.push(userDiffItem);
        }
      });

      /* Помечаем все пришедшие от контроллера обновления конфига как неожиданные */
      controllerDiff.forEach((controllerDiffItem) => {
        // Копируем объект не по ссылке
        unexpectedConfigUpdates.push(JSON.parse(JSON.stringify(controllerDiffItem)));
      });

      /* Сравниваем полный конфиг пользователя и применённые
       * контроллером изменения. Выкидываем из списка неожиданных те
       * пришедшие от контроллера изменения, которые по факту ничего
       * не меняют относительно конфига пользователя:
       * 1. Удаление контроллером несуществующих у пользователя параметров
       * 2. Удаление контроллером удалённых у пользователя параметров
       * 3. Изменение контроллером значения параметра на текущее значение
       *    пользователя
       * 4. Создание контроллером уже существующего у пользователя параметра
       *    с тем же значением, что и у пользователя */
      controllerDiff.forEach((controllerDiffItem) => {
        // Индекс параметра из userConfig, соответствующего controllerDiffItem
        let userItemIndex = -1;
        // Ищем соответствующий параметр в userConfig
        for (const index in userConfig) {
          if (userConfig[index].config_name === controllerDiffItem.config_name) {
            userItemIndex = index;
            break;
          }
        }

        // Индекс параметра из unexpectedConfigUpdates, соответствующего controllerDiffItem
        let unexpectedConfigItemIndex = -1;
        // Ищем соответствующий параметр в unexpectedConfigUpdates
        for (const index in unexpectedConfigUpdates) {
          if (unexpectedConfigUpdates[index].config_name === controllerDiffItem.config_name) {
            unexpectedConfigItemIndex = index;
            break;
          }
        }

        // Выкидываем параметр из unexpectedConfigUpdates, если надо.
        if (controllerDiffItem.update_status
            === ModelCpeConfigParam.GetUpdateStatusEnum().DELETED) {
          if (userItemIndex === -1
              || userConfig[userItemIndex].is_deleted) {
            // Удаление контроллером несуществующих у пользователя параметров
            // Удаление контроллером удалённых у пользователя параметров
            unexpectedConfigUpdates.splice(unexpectedConfigItemIndex, 1);
          }
        } else if (userItemIndex !== -1
                   && !userConfig[userItemIndex].is_deleted) {
          // Значения complex config сравниваем, игнорируя разницу в пробельных символах.
          const sameValue = (userConfig[userItemIndex].config_type
              === ModelCpeConfigParam.GetParamTypeEnum().COMPLEX
            && JSON.stringify(controllerDiffItem.config_value)
              === JSON.stringify(JSON.parse(userConfig[userItemIndex].config_value)))
            || (userConfig[userItemIndex].config_type
                  !== ModelCpeConfigParam.GetParamTypeEnum().COMPLEX
                && controllerDiffItem.config_value === userConfig[userItemIndex].config_value);

          if (controllerDiffItem.config_type === userConfig[userItemIndex].config_type
              && sameValue) {
            /* Изменение контроллером значения параметра на текущее значение
             * пользователя или создание контроллером уже существующего у
             * пользователя параметра с тем же значением, что и у пользователя. */
            unexpectedConfigUpdates.splice(unexpectedConfigItemIndex, 1);
          }
        }
      });

      /* Сравниваем запрошенные пользователем изменения и применённые
       * контроллером изменения, отмечаем несоответствия:
       * 1. Контроллер говорит, что создал параметр. Но в конфиге пользователя
       *    параметр уже был (просто с другим значением).
       * 2. Пользователь создавал параметр, а контроллер не создал.
       * 3. Пользователь обновлял параметр, а контроллер не обновил.
       * 4. Пользователь удалял параметр, а контроллер не удалил. */
      expandedUserDiff.forEach((userDiffItem) => {
        /* true, если параметр присутствует и в запрошенных пользователем изменениях
         * конфига и в применённых контроллером (но изменения не обязательно совпадают) */
        let paramFound = false;

        for (const controllerDiffItem of controllerDiff) {
          if (userDiffItem.config_name === controllerDiffItem.config_name) {
            // Значения complex config сравниваем, игнорируя разницу в пробельных символах.
            const sameValue = (userDiffItem.config_type
              === ModelCpeConfigParam.GetParamTypeEnum().COMPLEX
            && JSON.stringify(controllerDiffItem.config_value)
              === JSON.stringify(userDiffItem.config_value))
            || (userDiffItem.config_type
                  !== ModelCpeConfigParam.GetParamTypeEnum().COMPLEX
                && controllerDiffItem.config_value === userDiffItem.config_value);

            if (controllerDiffItem.update_status
                  === ModelCpeConfigParam.GetUpdateStatusEnum().CREATED
                && (!sameValue
                    || userDiffItem.config_type !== controllerDiffItem.config_type)) {
              /* Контроллер говорит, что создал параметр. Но в конфиге пользователя
               * параметр уже был (просто с другим значением или типом).
               * Пользователю это отображаем как обновление, а не создание */
              controllerDiffItem.update_status = ModelCpeConfigParam.GetUpdateStatusEnum().UPDATED;
            }

            paramFound = true;
            break;
          }
        }

        /* Параметр присутствует в запрошенных пользователем изменениях конфига,
         * но не в применённых контроллером. Если ошибок применения конфига
         * не было, то добавляем параметр в неожиданные изменения, само
         * изменение откатываем. Если были ошибки, то эти неприменённые
         * пользовательские изменения так и остаются висеть как неприменённые */
        if (!paramFound
            && error === false) {
          // Копируем объект не по ссылке
          unexpectedConfigUpdates.push(JSON.parse(JSON.stringify(userDiffItem)));
          const newItem = unexpectedConfigUpdates[unexpectedConfigUpdates.length - 1];

          // Запоминаем, под каким индексом был этот параметр в начальном конфиге, если был.
          let initialParamIndex = -1;
          for (const index in initialConfig) {
            if (initialConfig[index].config_name === userDiffItem.config_name) {
              initialParamIndex = index;
              break;
            }
          }

          // Ищем параметр в отображаемом конфиге
          const configItem = this.items.find(
            (item) => userDiffItem.config_name === item.config_name,
          );

          if (userDiffItem.config_action
              === ModelCpeConfigParam.GetConfigActionEnum().SET
              && initialParamIndex === -1) {
            /* Пользователь создавал параметр, а контроллер не создал.
             * Пользователю показываем, что из его конфига параметр был удалён. */
            newItem.update_status = ModelCpeConfigParam.GetUpdateStatusEnum().DELETED;
            newItem.config_value = null;

            // Меняем поля параметра
            configItem.is_deleted = true;
          } else if (userDiffItem.config_action
                     === ModelCpeConfigParam.GetConfigActionEnum().SET
                     && initialParamIndex !== -1) {
            /* Пользователь обновлял параметр, а контроллер не обновил.
             * Пользователю показываем, что в его конфиге параметр был поменян обратно. */
            newItem.update_status = ModelCpeConfigParam.GetUpdateStatusEnum().UPDATED;

            // Значение и тип берём из initialConfig
            newItem.config_value = initialConfig[initialParamIndex].config_value;
            newItem.config_type = initialConfig[initialParamIndex].config_type;

            // Меняем поля параметра
            configItem.config_value = newItem.config_value;
            configItem.config_type = newItem.config_type;
          } else if (userDiffItem.config_action
                     === ModelCpeConfigParam.GetConfigActionEnum().DELETE) {
            /* Пользователь удалял параметр, а контроллер не удалил.
             * Пользователю показываем, что в его конфига параметр был добавлен. */
            newItem.update_status = ModelCpeConfigParam.GetUpdateStatusEnum().CREATED;

            // Значение и тип берём из initialConfig
            newItem.config_value = initialConfig[initialParamIndex].config_value;
            newItem.config_type = initialConfig[initialParamIndex].config_type;

            // Меняем поля параметра
            configItem.config_value = newItem.config_value;
            configItem.config_type = newItem.config_type;
            configItem.is_deleted = false;
          }
        }
      });

      // Добавляем в конфиг новые статусы UNEXPECTED, возможно, поверх APPLIED
      unexpectedConfigUpdates.forEach((unexpectedItem) => {
        const configItem = this.items.find(
          (item) => item.config_name === unexpectedItem.config_name,
        );

        configItem.sync_status = ModelCpeConfigParam.GetSyncStatusEnum().UNEXPECTED;
      });

      // Есть неожиданные изменения конфига, то отображаем их пользователю
      if (unexpectedConfigUpdates.length !== 0) {
        this.$refs['config-updates-modal-ref'].show(unexpectedConfigUpdates);
      }
    },

    /**
     * Применить текущую конфигурацию (полученную не в процессе клонирования)
     * deviceConfigDiff - массив с текущими изменениями конфигурации,
     * в формате отправки через API
     */
    applyConfig(deviceConfigDiff) {
      // Выкидываем удалённые параметры со статусами кроме UNAPPLIED
      this.items = this.items.filter((item) => {
        if (item.sync_status !== ModelCpeConfigParam.GetSyncStatusEnum().UNAPPLIED
            && item.is_deleted) {
          return false;
        }
        return true;
      });

      // Сбрасываем в конфиге старые статусы APPLIED и UNEXPECTED
      this.items.forEach((item) => {
        if (item.sync_status === ModelCpeConfigParam.GetSyncStatusEnum().APPLIED
            || item.sync_status === ModelCpeConfigParam.GetSyncStatusEnum().UNEXPECTED) {
          item.sync_status = ModelCpeConfigParam.GetSyncStatusEnum().UNCHANGED;
        }
      });

      // Формируем отправляемые изменения
      const deviceDiff = {
        cpe_id: this.device_id,
        config: deviceConfigDiff,
      };

      // Создаём копию начального конфига, для отправки в showUnexpectedConfigUpdates()
      const initialConfig = [];
      this.raw_items.forEach((item) => {
        const initialItem = new ModelCpeConfigParam();
        initialItem.CloneModelCpeConfigParam(item);
        initialConfig.push(initialItem);
      });

      // Создаём копию текущего конфига, для отправки в showUnexpectedConfigUpdates()
      const userConfig = [];
      this.items.forEach((item) => {
        if (!item.is_expander) {
          // Копируем объект не по ссылке
          userConfig.push(JSON.parse(JSON.stringify(item)));
        }
      });

      CpeConfigApi().updateCpeConfig(this.config_api_uri, this.update_num, deviceDiff).then(
        (results) => {
          this.updateItems(results.updates);

          this.update_num = results.update_num;

          this.showUnexpectedConfigUpdates(initialConfig, userConfig,
            deviceConfigDiff, results.updates, results.error);

          this.sortItems();

          // Перегенерируем упрощённые формы simple config
          this.$refs['device-config-form-ref'].generateForms(this.items);

          this.manageUnloadConfirmation();
        },
      );
    },

    /**
     * Применить текущую конфигурацию (завершение клонирования)
     */
    applyClonedConfig() {
      // Отфильтровываем свёртки, удалённые параметры, read-only-параметры и complex-параметры
      const clonedItems = this.items.filter(
        (item) => !item.is_expander
          && !item.is_deleted
          && !item.read_only
          && item.config_type !== ModelCpeConfigParam.GetParamTypeEnum().COMPLEX,
      );

      // Формируем массив конфига в формате API
      const deviceConfig = [];
      clonedItems.forEach((item) => {
        const apiConfigParam = item.GetApiCpeConfigParamObject(/* Без configAction */);
        deviceConfig.push(apiConfigParam);
      });

      // Формируем отправляемые изменения
      const deviceData = {
        cpe_id: this.device_id,
        config: deviceConfig,
      };

      // Выполняем замену старого конфига на новый
      CpeConfigApi().replaceCpeConfig(this.config_api_uri, deviceData).then((results) => {
        // Если получили ошибку, то ничего не делаем
        if (!results.error) {
          // Завершение клонирования, отображение актуального конфига устройства
          this.initItems();
          this.clone_mode = false;
          this.clearUnloadConfirmation();
        }
      });
    },

    /**
     * Отмена всех изменений с подтверждением (в процессе клонирования)
     */
    confirmCloningCancel() {
      if (window.confirm('Are you sure you want to cancel config cloning and all changes?')) {
        this.clone_mode = false;
        this.update_num = null;
        /* Снова получаем ссылку на конфиг (устройство уже могло быть разрегистрировано)
           и загружаем конфиг */
        this.load();
        this.clearUnloadConfirmation();
      }
    },

    /**
     * Отмена всех изменений с подтверждением (не в процессе клонирования)
     */
    confirmChangesDiscard() {
      if (window.confirm('Are you sure you want to discard config changes?')) {
        this.initItems();

        // Перегенерируем упрощённые формы simple config
        this.$refs['device-config-form-ref'].generateForms(this.items);

        this.clearUnloadConfirmation();
      }
    },

    /**
     * Если находимся в режиме клонирования, то устанавливаем подтверждение
     * на уход со страницы и её перезагрузку.
     * Иначе, устанавливаем или убираем подтверждение в зависимости от наличия
     * неприменённых параметров
     */
    manageUnloadConfirmation() {
      if (this.clone_mode) {
        /* Начатое действие клонирования считаем неприменённым изменением,
         * даже если в конфиге нет параметров в статусе UNAPPLIED */
        this.setUnloadConfirmation();
        return;
      }

      const unappliedItems = this.items.filter(
        (item) => item.sync_status === ModelCpeConfigParam.GetSyncStatusEnum().UNAPPLIED,
      );
      if (unappliedItems.length === 0) {
        this.clearUnloadConfirmation();
      } else {
        this.setUnloadConfirmation();
      }
    },

    /**
     * Установить подтверждение на уход со страницы и её перезагрузку
     */
    setUnloadConfirmation() {
      this.leave_confirmation = true;
      window.onbeforeunload = function () { return 'Confirm page unload'; };
      window.onunload = function () { return 'Confirm page unload'; };
      // Переход по внутренним SPA-ссылкам и навигацию по истории браузера отлавливаем роутером
      this.$emit('setUnloadConfirm');
    },

    /**
     * Убрать подтверждение на уход со страницы и её перезагрузку
     */
    clearUnloadConfirmation() {
      this.leave_confirmation = false;
      window.onbeforeunload = null;
      window.onunload = null;
      // Перестаём отслеживать переход по внутренним SPA-ссылкам и навигацию по истории браузера
      this.$emit('clearUnloadConfirm');
    },

    /**
     * Обновляем все свёртки с read-only параметрами в связи с изменением
     * флага показа read-only параметров
     */
    toggleReadOnlyParams() {
      // Отлавливаем все read-only параметры в свёртках
      const refreshExpandersForItems = [];
      this.items.forEach((item) => {
        if (item.collapsed_by_prefix.length !== 0
            && item.read_only) {
          refreshExpandersForItems.push(item);
        }
      });

      // Обновляем соответствующие свёртки
      this.refreshExpanders(refreshExpandersForItems);
    },

    /**
     * Переключаемся между отображением страницы с упрощёнными формами
     * (simple config) и полной таблицы (raw config)
     */
    toggleRawConfigShow() {
      if (this.show_raw_config === false) {
        // Проверяем, что все поля без ошибок
        const allValid = this.$refs['device-config-form-ref'].allFieldsValid();
        if (allValid) {
          this.sortItems();
          this.show_raw_config = !this.show_raw_config;
        }
      } else {
        // Перегенерируем упрощённые формы simple config
        this.$refs['device-config-form-ref'].generateForms(this.items);

        this.show_raw_config = !this.show_raw_config;
      }
    },
  },
};
</script>

<style lang="scss">
  .keep-spaces {
    white-space: pre-wrap;
  }

  .cell-clickable {
    cursor: pointer;
  }

  .name-cell {
    word-break: break-all;

    &__separator {
      cursor: pointer;
      padding: 0px 3px;
      font-weight: bold;
    }

    &__rejected-label {
      background-color: var(--danger);
      font-weight: bold;
      text-align: center;
      line-height: 25px;
      width: 150px;
    }

    &--expander {
      cursor: pointer;

      .name-cell__extra-info {
        white-space: nowrap;
      }
    }
  }
  .controls-cell {
    white-space: nowrap;
  }
  .value-cell {
    font-family: monospace;
    padding-top: 0.4rem !important;
  }

  .compact-button {
    margin-top: -0.15rem;
    margin-bottom: -0.15rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }

  .param-deleted {
    $color1: rgba(0, 0, 0, 0.075);
    $color2: rgba(0, 0, 0, 0.15);

    background:
      repeating-linear-gradient(45deg, $color1, $color1 15px, $color2 15px, $color2 30px);

    & > td {
      background-color: transparent !important;
    }

    &.table-warning {
      $color1: rgba(255, 255, 0, 0.125);
      background:
        repeating-linear-gradient(45deg, $color1, $color1 15px, $color2 15px, $color2 30px);
    }

    &.table-success {
      $color1: rgba(0, 255, 0, 0.125);
      background:
        repeating-linear-gradient(45deg, $color1, $color1 15px, $color2 15px, $color2 30px);
    }

    &.table-primary {
      $color1: rgba(0, 0, 255, 0.125);
      background:
        repeating-linear-gradient(45deg, $color1, $color1 15px, $color2 15px, $color2 30px);
    }
  }
</style>
