<template>
  <!-- Модальное окно с формой редактирования устройства -->
  <b-modal id="device-upsert-modal" no-close-on-backdrop @hide="onClose"
    dialog-class="draggable-modal"
  >
    <template #modal-title>
      <span v-if="device" class="modal-header-text">Edit device {{device.name}}</span>
      <span v-else class="modal-header-text">Register new device</span>
    </template>

    <b-alert
      v-for="(message, index) in notifications" :key="index"
      show
      variant="danger"
    >{{message}}</b-alert>

    <b-form @submit="onSubmit">
      <!-- Имя, перенос строки запрещён -->
      <label for="device-upsert-modal__device-name-field">Name:</label>
      <b-form-textarea id="device-upsert-modal__device-name-field"
        @keydown.enter.prevent
        class="mb-2"
        v-model="edited_device.name"
        placeholder="Enter device name"
        rows="5"
        max-rows="10"
      ></b-form-textarea>

      <!-- ID, редактируемо только при регистрации нового устройства,
           перенос строки запрещён -->
      <label for="device-upsert-modal__device-id-field">Device ID:</label>
      <b-form-textarea id="device-upsert-modal__device-id-field"
        @keydown.enter.prevent
        class="mb-2"
        v-model="edited_device.cpe_id"
        placeholder="Enter device ID"
        rows="5"
        max-rows="10"
        :readonly="device ? true : false"
      ></b-form-textarea>

      <!-- Флаг регистрации, принудительно выставлен в true
           для новых (не подключенных) устройств и забытых устройств -->
      <b-form-checkbox
        v-model="edited_device.registered"
        name="registered"
        :disabled="!device || device.forgotten"
      >Is registered</b-form-checkbox>

      <b-form-checkbox
        v-model="edited_device.config_src"
        name="config_src"
        :value="config_src_cpe"
        :unchecked-value="config_src_controller"
      >Load config from device (once)</b-form-checkbox>

      <b-form-checkbox
        v-model="edited_device.synchronization_locked"
        name="synchronization_locked"
      >Synchronization lock</b-form-checkbox>

      <b-form-checkbox
        v-model="edited_device.synchronization_auto_lock"
        name="synchronization_auto_lock"
      >Synchronization auto-lock</b-form-checkbox>
    </b-form>

    <template #modal-footer>
      <b-button @click="onClose()">
        Cancel
      </b-button>

      <b-button variant="primary" @click="onSubmit()">
        Submit
      </b-button>
    </template>

  </b-modal>
</template>

<script>
import Vue from 'vue';
import ModelCpe from '@/models/cpe';
import BridgeApi from '@/bridges/api/cpe_list_api';
import {
  FormPlugin, BForm, BFormTextarea, FormCheckboxPlugin, AlertPlugin,
} from 'bootstrap-vue';

Vue.use(AlertPlugin);
Vue.use(FormPlugin);
Vue.component('b-form', BForm);
Vue.component('b-form-textarea', BFormTextarea);
Vue.use(FormCheckboxPlugin);

export default {
  props: [
    'device', // Редактируемая ModelCpe
  ],
  data() {
    const editedDevice = new ModelCpe();
    if (this.device) { // Редактирование устройства
      editedDevice.CloneModelCpe(this.device);

      /* Поскольку имя - обязательный параметр формы, то сразу приводим
       * отсутствующее имя к строке, чтобы не беспокоиться об этом
       * преобразовании при валидации формы */
      if (editedDevice.name === undefined) {
        editedDevice.name = '';
      }

      // Регистрация забытого устройства
      if (editedDevice.forgotten) {
        editedDevice.registered = true;
      }
    } else { // Регистрация нового (не подключенного) устройства
      editedDevice.name = '';
      editedDevice.cpe_id = '';
      editedDevice.registered = true;
      editedDevice.config_src = ModelCpe.GetConfigSrcEnum().CPE;
      editedDevice.synchronization_locked = false;
      editedDevice.synchronization_auto_lock = true;
    }

    return {
      config_src_cpe: ModelCpe.GetConfigSrcEnum().CPE,
      config_src_controller: ModelCpe.GetConfigSrcEnum().CONTROLLER,
      edited_device: editedDevice, // ModelCpe, к которой применяются изменения
      notifications: [],
    };
  },
  methods: {
    validation() {
      let result = true;

      // Валидируем ID
      const deviceIdLength = this.edited_device.cpe_id.length;
      if (deviceIdLength === 0) {
        this.notifications.push('Enter device ID');
        result = false;
      } else if (deviceIdLength > ModelCpe.GetCpeIdMaxLength()) {
        this.notifications.push(`Device ID max length is "${ModelCpe.GetCpeIdMaxLength()}"`
            + ` (current length: ${deviceIdLength})`);
        result = false;
      }

      // Валидируем имя
      const deviceNameLength = this.edited_device.name.length;
      if (deviceNameLength === 0) {
        this.notifications.push('Enter device name');
        result = false;
      } else if (deviceNameLength > ModelCpe.GetNameMaxLength()) {
        this.notifications.push(`Device name max length is "${ModelCpe.GetNameMaxLength()}"`
          + ` (current length: ${deviceNameLength})`);
        result = false;
      }

      if (!this.edited_device.name.match(ModelCpe.GetNameAllowedCharsRegExp())) {
        this.notifications.push('Device name contains forbidden characters. '
          + 'Device name may contain english and russian letters, digits and symbols _-%^№:+=@');
        result = false;
      }

      return result;
    },
    onSubmit() {
      this.notifications = [];

      if (!this.validation()) {
        return;
      }

      if (this.device) { // Редактирование устройства
        // Модель, содержащая поля с изменениями
        const modelDiff = this.edited_device.GetDiff(this.device);
        if (Object.keys(modelDiff).length === 0) {
          // Нет изменений
          this.notifications.push('No changes to submit');
          return;
        }

        // Добавляем id в diff
        modelDiff.cpe_id = this.edited_device.cpe_id;
        // Преобразуем поля в формат api
        const apiDiff = modelDiff.GetApiCpeObject();

        const errorNotifications = [];
        // Отправляем запрос
        BridgeApi().updateCpe(
          this.edited_device.links[0].uri, apiDiff, errorNotifications,
        ).then(() => {
          if (errorNotifications.length === 0) {
            // Не возникло ошибок - закрываем форму
            this.onClose();
          } else {
            // Возникли ошибки - выводим
            errorNotifications.forEach((notif) => {
              this.notifications.push(notif.message);
            });
          }
        });
      } else { // Регистрация нового (не подключенного) устройства
        // Преобразуем поля в формат api
        const apiDevice = this.edited_device.GetApiCpeObject();

        const errorNotifications = [];
        // Отправляем запрос
        BridgeApi().RegisterNewCpe(apiDevice, errorNotifications).then(() => {
          if (errorNotifications.length === 0) {
            // Не возникло ошибок - закрываем форму
            this.onClose();
          } else {
            // Возникли ошибки - выводим
            errorNotifications.forEach((notif) => {
              this.notifications.push(notif.message);
            });
          }
        });
      }
    },
    onClose() {
      this.$emit('closed');
    },
  },
};
</script>

<style lang="scss">
  // Для длинных имён
  .modal-header-text {
    // Firefox
    display: block;
    word-break: break-all;

    // Chrome
    word-break: break-word;
  }
</style>
