<template>
  <!-- Компонент с таблицей всех устройств -->
  <div>
    <!-- Шапка -->
    <controls-header>
      <b-container class="mw-100">
        <b-row align-v="center">
          <b-col md="auto">
            <b-button
              variant="primary"
              v-b-modal="'device-upsert-modal'"
              @click="openUpsertModal()"
            >New device</b-button>
          </b-col>
        </b-row>
      </b-container>
    </controls-header>

    <!-- Таблица со списком устройств -->
    <b-table striped hover small sticky-header no-border-collapse
      class="zelax-sticky-header devices-table"
      :items="items"
      :fields="table_fields"
      :sort-by.sync="sort_by"
      :sort-desc.sync="sort_descend"
    >
      <template #cell(edit)="data">
        <!-- Кнопка вызова модального окна для редактирования -->
        <b-button
          v-b-modal="'device-upsert-modal'"
          @click="openUpsertModal(data.item)"
          class="compact-button"
          size="sm"
        >Edit</b-button>
      </template>

      <!-- Кнопка перехода на страницу конфига -->
      <template #cell(configure)="data">
        <b-button
          :to="'/gui/device_config/'+data.item.cpe_id"
          variant="primary"
          class="compact-button"
          size="sm"
        >Configure</b-button>
      </template>

      <!-- Кнопка забытия устройства -->
      <template #cell(forget)="data">
        <b-button
          v-if="data.item.registered === false"
          @click="forgetDevice(data.item)"
          variant="danger"
          class="compact-button"
          size="sm"
        >Forget</b-button>
      </template>
    </b-table>

    <!-- Модалка регистрации нового устройства
         или редактирования профиля существующего -->
    <device-upsert-modal
      v-if="device_upsert_modal_show"
      :device="edited_device"
      @closed="closeUpsertModal"
    ></device-upsert-modal>

    <div v-if="show_preloader">Loading devices...</div>
  </div>
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';
import { BTable, BButton, ModalPlugin } from 'bootstrap-vue';
import BridgeApi from '@/bridges/api/cpe_list_api';
import DeviceUpsertModal from './device_upsert_modal.vue';
import ControlsHeader from './controls_header.vue';

Vue.component('b-table', BTable);
Vue.component('b-button', BButton);
Vue.use(ModalPlugin);

export default {
  components: { DeviceUpsertModal, ControlsHeader },
  data() {
    return {
      edited_device: null, // Отправляемая на редактирование ModelCpe
      device_upsert_modal_show: false,
      show_preloader: true, // Показывать сообщение о идущей загрузке
      sort_by: 'name',
      sort_descend: false,
      table_fields: [ // Отображаемые поля таблицы
        {
          key: 'name',
          label: 'Name',
          sortable: true,
          tdClass: 'devices-table__title-column',
        },
        {
          key: 'cpe_id',
          label: 'ID',
          sortable: true,
          tdClass: 'devices-table__title-column',
        },
        {
          key: 'ip',
          label: 'IP-address',
          sortable: true,
        },
        {
          key: 'port',
          label: 'TCP-port',
          sortable: true,
        },
        {
          key: 'connection_active',
          label: 'Connected',
          sortable: true,
        },
        {
          key: 'registered',
          label: 'Registered',
          sortable: true,
        },
        {
          key: 'config_src',
          label: 'Config source',
          sortable: true,
        },
        {
          key: 'synchronization_locked',
          label: 'Sync locked',
          sortable: true,
        },
        {
          key: 'synchronization_auto_lock',
          label: 'Sync auto lock',
          sortable: true,
        },
        {
          key: 'synchronization_state',
          label: 'Synchronization',
          sortable: true,
        },
        {
          key: 'edit',
          label: '',
          sortable: false,
        },
        {
          key: 'configure',
          label: '',
          sortable: false,
        },
        {
          key: 'forget',
          label: '',
          sortable: false,
        },
      ],
    };
  },
  computed: mapGetters({
    items: 'cpeList/list',
    isPopupRequired: 'notifications/isPopupRequired',
  }),
  watch: {
    isPopupRequired(newVal) {
      /* Если получили нотификацию об ошибке,
       * то прекращаем выполнение запросов к API по таймеру */
      if (newVal) {
        clearInterval(this.interval_id);
      } else {
        this.initInterval();
      }
    },
  },
  mounted() {
    this.load();

    if (!this.isPopupRequired) {
      this.initInterval();
    }
  },
  beforeDestroy() {
    // Отключаем подгрузку обновлений
    clearInterval(this.interval_id);
  },
  methods: {
    load() {
      BridgeApi().getCpeList().then(() => {
        this.show_preloader = false;
      });
    },
    /**
     * Выставляем интервал подгрузки обновлений
     */
    initInterval() {
      this.interval_id = setInterval(() => {
        this.load();
      }, 3000);
    },
    openUpsertModal(item) {
      this.edited_device = item;
      this.device_upsert_modal_show = true;
    },
    closeUpsertModal() {
      this.edited_device = null;
      this.device_upsert_modal_show = false;
    },
    forgetDevice(item) {
      BridgeApi().ForgetCpe(item.cpe_id, item.links[0].uri);
    },
  },
};
</script>

<style lang="scss">
  .devices-table {
    // Увеличиваем высоту строк
    .table-sm td {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }

    // Вертикально ужимаем возможные многострочные названия столбцов
    .table-sm th {
      line-height: 16px;
    }

    // Чтобы таблица прилично смотрелась с длинными именами и id
    &__title-column {
      min-width: 250px;
      word-break: break-all;
    }
  }
</style>

<style scoped lang="scss">
  /* Ужимаем кнопки, чтобы они не распирали строки таблицы
     и были вертикально по центру строки */
  .compact-button {
    margin-top: -0.4rem;
    margin-bottom: -0.3rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
</style>
