<template>
  <!-- Модальное окно, с ошибкой для пользователя -->
  <b-modal id="error-modal"
    @hide="onClose" size="lg" scrollable
    dialog-class="draggable-modal"

    :hide-header-close="notification && notification.critical"
    :no-close-on-backdrop="notification && notification.critical"
    :no-close-on-esc="notification && notification.critical"
  >
    <template #modal-title>
      Error
    </template>

    <b-alert v-if="notification" show class="notification" :variant="notification.type">
      <b-container class="mw-100">
        <b-row>
          <b-col cols="auto" class="notification__text mr-auto">{{notification.message}}</b-col>
        </b-row>
      </b-container>
    </b-alert>

    <template #modal-footer>
      <b-button v-if="notification && notification.critical" variant="primary"
        @click="goToCPEList()"
      >
        Return to the devices list
      </b-button>
      <b-button v-else variant="primary" @click="close()">
        OK
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';
import { FormCheckboxPlugin, AlertPlugin, LayoutPlugin } from 'bootstrap-vue';

Vue.use(FormCheckboxPlugin);
Vue.use(LayoutPlugin);
Vue.use(AlertPlugin);

export default {
  computed: mapGetters({
    notification: 'notifications/lastError',
    isPopupRequired: 'notifications/isPopupRequired',
  }),
  watch: {
    isPopupRequired(newVal) {
      /* Если получили нотификацию об ошибке, то показываем модалку с историей
         нотификаций (если такая фича не отключена) */
      if (newVal) {
        this.$bvModal.show('error-modal');
      }
    },
  },
  methods: {
    /**
     * Переход на страницу со списком CPE
     */
    goToCPEList() {
      this.$router.push({
        path: '/gui/devices',
      });
      this.close();
    },
    close() {
      this.$bvModal.hide('error-modal');
    },
    onClose() {
      this.$store.commit('notifications/clearPopupRequirement');
    },
  },
};
</script>
