<template>
  <!-- Модальное окно, уведомляющее о авто-добавлении в конфиг параметров-ключей -->
  <b-modal id="key-params-modal" @hide="onClose"
    size="lg" scrollable dialog-class="draggable-modal"
  >
    <template #modal-title>
      These config params also will be added
    </template>

    <b-table striped hover :items="key_params" :fields="table_fields"
      sticky-header="500px" no-border-collapse />

    <template #modal-footer>

      <b-button @click="onClose()">
        Cancel
      </b-button>

      <b-button variant="primary" @click="onSubmit()">
        Submit
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import Vue from 'vue';
import {
  BTable,
} from 'bootstrap-vue';

Vue.component('b-table', BTable);

export default {
  props: [
    'key_params', // Массив ModelCpeConfigParam с авто-добавляемыми параметрами-ключами
  ],
  methods: {
    show() {
      this.$bvModal.show('key-params-modal');
    },
    onSubmit() {
      this.$emit('submit');
      this.onClose();
    },
    onClose() {
      this.$bvModal.hide('key-params-modal');
    },
  },
  data() {
    return {
      table_fields: [
        {
          key: 'config_name',
          label: 'Param',
          sortable: true,
        },
        {
          key: 'config_type',
          label: 'Type',
          sortable: true,
        },
        {
          key: 'config_value',
          label: 'Value',
          sortable: true,
        },
      ],
    };
  },
};
</script>
