<template>
  <!-- Компонент с логом -->
  <div>
    <!-- Шапка с формой фильтрации лога -->
    <controls-header>
      <b-form @submit="submitForm()" class="logs-from" @keyup.enter="submitForm()">
        <b-container class="mw-100">
          <b-row align-v="center">
            <b-col md="auto">
              <span class="text-info">Total lines count: {{lines_total}}</span>
            </b-col>

            <b-col class="logs-from__column">
              <label for="logs-form__level-filter" class="logs-from__label">Levels up to:</label>
              <b-form-select id="logs-form__level-filter"
                size="sm"
                v-model="level_filter"
                :options="level_options"></b-form-select>
            </b-col>

            <b-col md="auto" class="ml-auto">
              <b-button variant="danger" @click="clearLog()">Clear log</b-button>
            </b-col>
          </b-row>
        </b-container>
      </b-form>
    </controls-header>

    <!-- Таблица с логом -->
    <b-table small hover id="logs-table"
      sticky-header no-border-collapse class="zelax-sticky-header"
      :items="computed_items" :fields="table_fields"
      :tbody-tr-class="getRowClass"
      @row-dblclicked="viewLine"
    >
      <template #cell(num)="data">
        <span v-if="!data.item.is_spacer"
          class="line-num" :data-item-id="data.item.num">{{data.item.num}}</span>
      </template>

      <template #cell(level)="data">
        <span v-if="!data.item.is_spacer">{{data.item.GetLevelName()}}</span>
      </template>

      <template #cell(timestamp)="data">
        <span v-if="!data.item.is_spacer"
          class="datetime">{{printDateTime(data.item.timestamp)}}</span>
      </template>

      <template #cell(text)="data">
        <span class="msg-column">{{data.item.text}}</span>
      </template>
    </b-table>

    <!-- Модальное окно, отображающее выбранную строку лога -->
    <b-modal id="view-log-line" hide-footer scrollable
      ref="view-log-line-ref" size="lg" dialog-class="draggable-modal"
      body-class="viewed-line-modal"
    >
      <b-table class="table--no-paddings" borderless
      :fields="non_text_table_fields" :items="[...viewed_line]">
        <template #cell(num)="data">
          <span class="line-num">{{data.item.num}}</span>
        </template>

        <template #cell(level)="data">
          <span>{{data.item.GetLevelName()}}</span>
        </template>

        <template #cell(timestamp)="data">
          <span class="datetime">{{printDateTime(data.item.timestamp)}}</span>
        </template>
      </b-table>

      <b>Message</b>
      <span v-if="viewed_line !== null" class="viewed-line-modal__message"
      >{{viewed_line.text}}</span>
    </b-modal>
  </div>
</template>

<script>
/**
 * ---------- Описание работы таблицы лога ----------
 *
 * Строки таблицы лога отображают какую-то часть строк лога.
 * В памяти vuex находятся строки лога от line_from до line_to включительно.
 *
 * current_line - номер верхней видимой на экране строки лога.
 * last_line - номер нижней видимой на экране строки лога.
 *
 * Части таблицы лога:
 * 1. Шапка
 * 2. Верхняя строка-распорка, по высоте примерно соответствующая высоте всех
 *    незагруженных строк лога в начале лога. Если при скролле попадаем в эту
 *    область, то прикидываем значение current_line и загружаем эту область
 *    лога, выкидывая весь старый загруженный лог.
 * 3. Верхняя область подгрузки, строки лога от line_from до view_from
 *    (view_from = line_from + chunk_size). Если current_line попадает в эту
 *    область, то будет подгружена порция лога сверху (размером chunk_size)
 *    и выгружена порция лога снизу.
 * 4. Область "нормального" просмотра лога, строки от view_from
 *    до view_to (view_to = view_from + view_size)
 * 5. Нижняя область подгрузки, строки лога от view_to до line_to
 *    (line_to = view_to + chunk_size). Если current_line попадает в эту
 *    область, то будет подгружена порция лога снизу (размером chunk_size)
 *    и выгружена порция лога сверху.
 * 6. Нижняя строка-распорка, по высоте примерно соответствующая высоте всех
 *    незагруженных строк лога в конце лога. Если при скролле попадаем в эту
 *    область, то прикидываем значение current_line и загружаем эту область
 *    лога, выкидывая весь старый загруженный лог.
 *
 * Если мы итерируемся по массиву строк таблицы (массив rows длиной length),
 * то надо помнить, что строка [0] - шапка, строка [1] - верхняя распорка,
 * строка [rows.length - 1] - нижняя распорка.
 */

import Vue from 'vue';
import { mapGetters } from 'vuex';
import BridgeApi from '@/bridges/api/logs_api';
import {
  BTable, FormPlugin, BForm, BFormInput, LayoutPlugin, FormSelectPlugin,
} from 'bootstrap-vue';
import ModelNotification from '@/models/notification';
import ModelLogLine from '@/models/log_line';
import PrintDateTime from '@/helpers/print_datetime';
import store from '@/store';
import ControlsHeader from './controls_header.vue';

Vue.component('b-table', BTable);
Vue.component('b-form', BForm);
Vue.component('b-form-input', BFormInput);
Vue.use(FormPlugin);
Vue.use(LayoutPlugin);
Vue.use(FormSelectPlugin);

export default {
  components: { ControlsHeader },
  data() {
    // Заполняем варианты options для select фильтра по уровню
    const levelOptions = [];
    const levelValues = Object.values(ModelLogLine.GetLogLevelValuesEnum());
    const levelNames = ModelLogLine.GetLogLevelNamesEnum();
    for (let i = 0; i < levelValues.length; i += 1) {
      levelOptions.push({
        value: levelValues[i],
        text: levelNames[i],
      });
    }

    // Строки-распорки, добавляем поле is_spacer чтобы отличать от остальных строк
    const topSpacerItem = new ModelLogLine();
    topSpacerItem.is_spacer = true;
    const bottomSpacerItem = new ModelLogLine();
    bottomSpacerItem.is_spacer = true;

    const tableFields = [
      {
        key: 'num',
        label: 'Line',
      },
      {
        key: 'level',
        label: 'Level',
      },
      {
        key: 'timestamp',
        label: 'Time',
      },
      {
        key: 'text',
        label: 'Message',
      },
    ];

    return {
      chunk_size: 50, // Количество строчек лога в подгружаемой порции лога
      view_size: 100, // Количество строчек лога в области просмотра лога

      view_from: null,
      view_to: null,
      default_line_from: 1,
      line_from: null,
      line_to: null,

      last_line: null,
      lines_total: 0, // Общее известное число строк лога

      last_scroll_pos: 0, // Последнее известное значение скролла окна

      full_reload_mode: false, /* Если была инициирована полная перезагрузка лога,
                                * то подгрузка лога порциями временно отключается */
      scroll_timeout: null, /* Идентификатор таймера задержки между последним
                             * событием скролла и началом подгрузки/перезагрузки лога */

      default_level_filter: ModelLogLine.GetLogLevelValuesEnum().SYSLOG_LEVEL_DEBUG,
      level_options: levelOptions,

      show_preloader: true,

      table: null, // DOM-элемент таблицы лога
      top_spacer: null, // DOM-элемент верхней строки-распорки
      bottom_spacer: null, // DOM-элемент нижней строки-распорки
      line_height: 33, // Условное значение высоты одной строки лога в пикселях.

      top_spacer_item: topSpacerItem,
      bottom_spacer_item: bottomSpacerItem,

      viewed_line: null, // Строка лога для модального окна

      table_fields: tableFields,
      non_text_table_fields: tableFields.filter((f) => f.key !== 'text'),
    };
  },
  computed: {
    ...mapGetters({
      items: 'logs/list',
      stored_level_filter: 'logSettings/getLevelFilter',
      stored_current_line: 'logSettings/getCurrentLine',
      stored_tail_mode: 'logSettings/getTailMode',
      isPopupRequired: 'notifications/isPopupRequired',
    }),
    /**
     * Выбранный фильтр по уровню сохраняется при уходе из этого компонента
     */
    level_filter: {
      /**
       * Берём значение из Vuex
       */
      get() {
        return this.stored_level_filter;
      },
      /**
       * Приводим фильтр в валидный вид и обновляем значение в Vuex,
       * обновляем значение level в URL, применяем фильтр к загруженному логу
       */
      set(newLevel) {
        this.makeFilterValid(newLevel);
        this.updateUrlFilter();

        this.adjustSpacers();
        this.scrollToCurrentLine();
      },
    },
    /**
     * Верхняя видимая строка сохраняется при уходе из этого компонента
     */
    current_line: {
      /**
       * Берём значение из Vuex
       */
      get() {
        return this.stored_current_line;
      },
      /**
       * Приводим номер строки в валидный вид и обновляем значение в Vuex,
       * обновляем значение line в URL
       */
      set(newLine) {
        this.makeCurrentLineValid(newLine);
        this.updateUrlLineValue();
      },
    },
    /**
     * Флаг режима "хвоста" (постоянной подзагрузки новых строк лога)
     */
    tail_mode: {
      /**
       * Берём значение из Vuex
       */
      get() {
        return this.stored_tail_mode;
      },
      /**
       * Приводим флаг режима "хвоста" в валидный вид и обновляем значение в Vuex,
       * обновляем значение tail в URL
       */
      set(tailMode) {
        this.makeTailModeValid(tailMode);
        this.updateUrlTailModeValue();
      },
    },
    /**
     * Фильтруем массив items по уровню и добавляем строки-распорки
     * в начало и в конец массива.
     */
    computed_items: function GetItems() {
      const computedItems = this.items.filter((item) => item.level <= this.level_filter);

      this.setSpacersMessages(computedItems.length);

      computedItems.unshift(this.top_spacer_item);
      computedItems.push(this.bottom_spacer_item);

      return computedItems;
    },
  },
  watch: {
    isPopupRequired(newVal) {
      /* Если получили нотификацию об ошибке,
       * то прекращаем выполнение запросов к API по таймеру */
      if (newVal) {
        clearInterval(this.interval_id);
      } else {
        this.initInterval();
      }
    },
  },
  mounted() {
    // Запоминаем DOM-элемент с таблицей, чтобы каждый раз не искать
    this.table = document.getElementById('logs-table');

    this.onMount();
  },
  beforeDestroy() {
    // Очищаем хранилище
    this.$store.commit('logs/clear');
    // Отключаем подгрузку обновлений
    clearInterval(this.interval_id);
    // Отключаем обработчик скролла
    this.disableScrollFunction();
  },
  methods: {
    /**
     * Устанавливаем для строк-распорок текст, соответствующий текущей ситуации.
     */
    setSpacersMessages() {
      // Пользователь долго непрерывно скроллил и увидит эти надписи
      this.top_spacer_item.text = 'Loading log lines. Please wait...';
      this.bottom_spacer_item.text = 'Loading log lines. Please wait...';

      // Начальная загрузка
      if (this.show_preloader) {
        this.bottom_spacer_item.text = '';
      }

      // На случай пустых распорок (начало/конец лога)
      if (this.line_from === this.default_line_from) {
        this.top_spacer_item.text = '';
      }
      if (this.lines_total <= this.line_to) {
        this.bottom_spacer_item.text = '';
      }
    },
    /**
     * Вернуть css-классы для строк таблицы.
     */
    getRowClass(item, type) {
      if (!item || type !== 'row') return '';
      let classes = '';

      if (item.num === this.current_line) {
        classes += 'current-line ';
      }
      if (item.num === this.last_line) {
        classes += 'last-line ';
      }
      if (item.is_spacer) { // Строка-распорка
        classes += 'log-table-spacer-row ';
      }

      if (item.num % 2 === 1) {
        classes += 'odd-line ';
      }

      // Отладочные классы
      if (item.num < this.view_from) { // Строка из верхней области подгрузки
        classes += 'log-table-top-loader ';
      }
      if (item.num > this.view_to) { // Строка из нижней области подгрузки
        classes += 'log-table-bottom-loader ';
      }
      return classes;
    },
    /**
     * Выставляем интервал подгрузки обновлений
     */
    initInterval() {
      this.interval_id = setInterval(() => {
        this.getUpdates();
      }, 3000);
    },
    /**
     * Подготавливаем страницу к правильной работе.
     * Для начала узнаём число строк в логе, а потом уже приводим параметры в
     * валидный вид, делаем начальную загрузку и прочее.
     */
    onMount() {
      BridgeApi().getLogLinesCount(this.lines_total).then((newCount) => {
        this.lines_total = newCount;

        /* Выставляем начальное значение фильтра по уровню.
         * Если уровень есть в url, то это значение считаем приоритетным */
        const urlLevel = this.$route.query.level;
        if (urlLevel === undefined) {
          this.makeFilterValid(this.stored_level_filter);
        } else {
          this.makeFilterValid(urlLevel);
        }
        this.updateUrlFilter();

        /* Выставляем начальное значение для верхней видимой строки.
         * Если номер строки есть в url, то это значение считаем приоритетным */
        const urlLine = this.$route.query.line;
        if (urlLine === undefined) {
          this.makeCurrentLineValid(this.stored_current_line);
        } else {
          this.makeCurrentLineValid(urlLine);
        }
        this.updateUrlLineValue();

        /* Выставляем начальное значение флага режима "хвоста".
         * Если флаг есть в url, то это значение считаем приоритетным */
        const urlTail = this.$route.query.tail;
        if (urlTail === undefined) {
          if (this.stored_tail_mode === null) {
            this.makeTailModeValid(true);
          } else {
            this.makeTailModeValid(this.stored_tail_mode);
          }
        } else {
          this.makeTailModeValid(urlTail);
        }
        this.updateUrlTailModeValue();

        // Начальная загрузка лога.
        this.fullReload();

        // Выставляем интервал подгрузки обновлений
        if (!this.isPopupRequired) {
          this.initInterval();
        }
      });
    },
    /**
     * Выставляем высоты строк-распорок в значения, примерно соответствующие
     * высоте всех незагруженных строк лога в начале и в конце лога.
     */
    adjustSpacers() {
      // Рассчитываем высоты распорок
      const topSpacerHeight = `${this.line_height * (this.line_from - 1)}px`;
      const bottomSpacerHeight = `${this.line_height * (this.lines_total - this.line_to)}px`;

      /* Запоминаем, какие элементы DOM являются распорками (так как при изменении
       * общего числа строк в таблице элементы строк-распорок могут смениться) */
      // eslint-disable-next-line prefer-destructuring
      this.top_spacer = this.table.querySelectorAll('.log-table-spacer-row')[0];
      // eslint-disable-next-line prefer-destructuring
      this.bottom_spacer = this.table.querySelectorAll('.log-table-spacer-row')[1];

      /* Обновляем значения высот через обновление css-переменных.
       * Самим элементам высоту через js не ставим, так как если DOM-элемент
       * распорки сменится при изменении общего числа строк таблицы, то ранее
       * добавленные через js стили могут оказаться уже не на строке-распорке,
       * а на обычной строке лога. */
      document.documentElement.style.setProperty(
        '--log-table-top-spacer-height', topSpacerHeight,
      );
      document.documentElement.style.setProperty(
        '--log-table-bottom-spacer-height', bottomSpacerHeight,
      );
    },
    /**
     * Ищем DOM-элемент, соответствующий current_line и скроллим страницу к нему.
     * Если строка current_line скрыта (фильтром по уровню), то ищем ближайшую
     * к ней нескрытую строку и скроллим к ней.
     */
    scrollToCurrentLine() {
      // Выбираем, к какой строке скроллим
      let index = 0;
      let closestNum = 0;
      /* строка [0] - шапка, [1] - верхняя распорка,
       * [this.table.rows.length - 1] - нижняя распорка.
       * current_line ищем между распорками */
      for (let i = 2; i <= this.table.rows.length - 2; i += 1) {
        const row = this.table.querySelectorAll('tr')[i];
        const lineNumber = parseInt(row.querySelectorAll('.line-num')[0].innerText, 10);
        const numDiff = Math.abs(this.current_line - lineNumber);
        if (index === 0
            || numDiff < closestNum) {
          index = i;
          closestNum = numDiff;
          if (closestNum === 0) {
            break;
          }
        }
      }

      // Скроллим страницу
      if (index !== 0) {
        /* todo: хотелось бы headerBottom получить вот так:
         * this.table.querySelectorAll('th')[0].getBoundingClientRect().bottom;
         * Но если мы находимся вверху страницы (например, при первом заходе
         * на страницу), то это значение не будет таким же, как когда шапка
         * в режиме sticky-header (а после скролла мы будем в этом режиме). */

        const headerBottom = 156; // Координаты низа шапки таблицы в режиме sticky-header
        const lineTop = this.table.querySelectorAll('tr')[index].getBoundingClientRect().top;
        const scrollTo = lineTop - headerBottom;
        window.scroll(0, document.documentElement.scrollTop + scrollTo);
        this.last_scroll_pos = document.documentElement.scrollTop;
      }
    },
    /**
     * Старый лог очистить, загрузить строки с line_from по line_to
     */
    fullReload() {
      this.disableScrollFunction();

      /* Стараемся сместить область обзора лога так, чтобы current_line
       * была в центре области обзора */
      this.setView();

      BridgeApi().getLogs(this.line_from, this.line_to, false, true).then((count) => {
        this.show_preloader = false;
        this.lines_total = count;

        this.full_reload_mode = false;

        this.adjustSpacers();

        // Скроллим страницу
        this.scrollToCurrentLine();

        this.enableScrollFunction();
      });
    },
    /**
     * Подгрузить порцию лога наверх, выгрузить порцию лога снизу.
     */
    loadTopChunk() {
      this.disableScrollFunction();

      /* Вычисляем размер подгружаемой порции, чтобы если line_from равен,
       * например, трём, то мы бы грузили только первые две строки лога. */
      let actualChunkSize = this.chunk_size;
      if (this.line_from - actualChunkSize <= 0) {
        actualChunkSize = this.line_from - 1;
      }

      // Сдвигаем область обзора
      this.shiftView(-actualChunkSize);

      /* Запоминаем координаты верхней строки таблицы до новой подгрузки.
       * Строка [0] - шапка, [1] - верхняя распорка,
       * [this.table.rows.length - 1] - нижняя распорка. Берём строку 2 */
      let preloadLine;
      let lineNum;
      let preloadLineCoord;
      if (this.table.rows.length > 3) {
        // eslint-disable-next-line prefer-destructuring
        preloadLine = this.table.querySelectorAll('tr')[2];
      }
      if (preloadLine) {
        lineNum = preloadLine.querySelectorAll('.line-num')[0].innerText;
        preloadLineCoord = preloadLine.getBoundingClientRect().top;
      }

      BridgeApi().getLogs(
        this.line_from, this.line_from + actualChunkSize - 1, true, false,
      ).then((count) => {
        // Удаляем порцию лога "с другой стороны" таблицы
        for (let l = this.line_to + 1; l <= this.line_to + actualChunkSize; l += 1) {
          store().commit('logs/remove', l);
        }

        this.lines_total = count;

        this.$nextTick(() => {
          this.adjustSpacers();

          // Прокручиваем окно так, чтобы старые строки лога остались в тех же местах экрана
          if (preloadLine) {
            // Вычисляем новые координаты строки лога, которая до подгрузки была верхней
            const oldLine = document.querySelectorAll(`[data-item-id="${lineNum}"]`)[0];
            if (oldLine) {
              const oldLineCoord = oldLine.getBoundingClientRect().top;
              const newScroll = document.documentElement.scrollTop
                + oldLineCoord - preloadLineCoord;

              /* Если записей на экране мало, то может быть невозможно проскроллить окно так,
              * чтобы старые строки остались на своих местах. В таком случае, не скроллим вообще. */
              if (newScroll > 0
                  && newScroll < document.body.clientHeight - window.innerHeight) {
                const wtfPixels = 8; // Откуда-то каждый раз возникает это дополнительное смещение
                window.scroll(0, newScroll - wtfPixels);
                this.last_scroll_pos = document.documentElement.scrollTop;
              }
            }
          }

          this.enableScrollFunction();
        });
      });
    },
    /**
     * Подгрузить порцию лога вниз, выгрузить порцию лога сверху.
     */
    loadBottomChunk() {
      this.disableScrollFunction();

      /* Вычисляем размер подгружаемой порции, чтобы если line_to меньше
       * чем lines_total, например, на три, то мы бы грузили только
       * последние две строки лога. */
      let actualChunkSize = this.chunk_size;
      if (this.lines_total - this.line_to - actualChunkSize <= 0) {
        actualChunkSize = this.lines_total - this.line_to;
      }

      // Сдвигаем область обзора
      this.shiftView(actualChunkSize);

      /* Запоминаем координаты нижней строки таблицы до новой подгрузки.
       * Строка [0] - шапка, [1] - верхняя распорка,
       * [this.table.rows.length - 1] - нижняя распорка. Берём предпоследнюю строку */
      let preloadLine;
      let lineNum;
      let preloadLineCoord;
      if (this.table.rows.length > 3) {
        // eslint-disable-next-line prefer-destructuring
        preloadLine = this.table.querySelectorAll('tr')[this.table.rows.length - 2];
      }
      if (preloadLine) {
        lineNum = preloadLine.querySelectorAll('.line-num')[0].innerText;
        preloadLineCoord = preloadLine.getBoundingClientRect().top;
      }

      BridgeApi().getLogs(
        this.line_to - actualChunkSize + 1, this.line_to, false, false,
      ).then((count) => {
        // Удаляем порцию лога "с другой стороны" таблицы
        for (let l = this.line_from - actualChunkSize; l < this.line_from; l += 1) {
          store().commit('logs/remove', l);
        }

        this.lines_total = count;

        this.$nextTick(() => {
          this.adjustSpacers();

          // Прокручиваем окно так, чтобы старые строки лога остались в тех же местах экрана
          if (preloadLine) {
            // Вычисляем новые координаты строки лога, которая до подгрузки была нижней.
            const oldLine = document.querySelectorAll(`[data-item-id="${lineNum}"]`)[0];
            if (oldLine) {
              const oldLineCoord = oldLine.getBoundingClientRect().top;
              const newScroll = document.documentElement.scrollTop
                + oldLineCoord - preloadLineCoord;

              /* Если записей на экране мало, то может быть невозможно проскроллить окно так,
              * чтобы старые строки остались на своих местах. В таком случае, не скроллим вообще. */
              if (newScroll > 0
                  && newScroll < document.body.clientHeight - window.innerHeight) {
                const wtfPixels = 8; // Откуда-то каждый раз возникает это дополнительное смещение
                window.scroll(0, newScroll - wtfPixels);
                this.last_scroll_pos = document.documentElement.scrollTop;
              }
            }
          }

          this.enableScrollFunction();
        });
      });
    },
    /**
     * Получить количество строк в логе и подгрузить новые строки при необходимости
     */
    getUpdates() {
      BridgeApi().getLogLinesCount(this.lines_total).then((newCount) => {
        const oldCount = this.lines_total;
        this.lines_total = newCount;

        if (oldCount === newCount) {
          return;
        }

        /* Если в логе теперь меньше строк, чем было до этого,
           то весь ранее загруженный лог считаем невалидным. */
        if (newCount < oldCount) {
          if (newCount === 0) {
            this.$store.commit('logs/clear');
            this.setView();
            this.adjustSpacers();
          } else {
            this.fullReload();
          }
          return;
        }

        /* Условие this.tail_mode - подзагрузка в режиме "хвоста".
           Условие this.last_line > this.view_to - подзагрузка связанная с тем,
           что нижняя область подгрузки находится в пределах видимого лога
           и при этом упирается в нижний край лога - тогда подгружаем новые
           строки лога по мере их появления, пока нижняя область подгрузки
           не скроется за пределы видимого лога */
        if (this.tail_mode
            || this.last_line > this.view_to) {
          const newLines = this.lines_total - oldCount;
          if (newLines >= this.view_size + this.chunk_size * 2) {
            this.fullReload();
          } else {
            const oldLineFrom = this.line_from;

            this.disableScrollFunction();
            this.setView();

            BridgeApi().getLogs(
              oldCount + 1, this.line_to, false, false,
            ).then((count) => {
              for (let l = oldLineFrom; l < this.line_from; l += 1) {
                store().commit('logs/remove', l);
              }

              this.$nextTick(() => {
                this.lines_total = count;
                this.adjustSpacers();
                this.scrollToCurrentLine();
                this.enableScrollFunction();
              });
            });
          }
          return;
        }

        if (oldCount < this.line_to) {
          // Появились обновления в пределах видимого лога, подгружаем
          this.disableScrollFunction();

          BridgeApi().getLogs(
            oldCount + 1, this.line_to, false, false,
          ).then((count) => {
            this.lines_total = count;
            this.adjustSpacers();
            this.enableScrollFunction();
          });
        } else {
          // Появились новые строки, обновляем распорки.
          this.disableScrollFunction();
          this.adjustSpacers();
          this.enableScrollFunction();
        }
      });
    },
    /**
     * Делаем из filter валидное значение фильтра по уровню.
     * Новое валидное значение сохраняем в Vuex
     */
    makeFilterValid(filter) {
      let validFilter = parseInt(filter, 10);
      // eslint-disable-next-line no-restricted-globals
      if (isNaN(validFilter)) {
        validFilter = this.default_level_filter;
      }
      const emergLevel = ModelLogLine.GetLogLevelValuesEnum().SYSLOG_LEVEL_EMERGENCY;
      if (validFilter < emergLevel) {
        validFilter = emergLevel;
      }
      const debugLevel = ModelLogLine.GetLogLevelValuesEnum().SYSLOG_LEVEL_DEBUG;
      if (validFilter > debugLevel) {
        validFilter = debugLevel;
      }

      this.$store.commit('logSettings/setLevelFilter', validFilter);
    },
    /**
     * Обновляем значение level в URL
     */
    updateUrlFilter() {
      if (this.level_filter !== parseInt(this.$route.query.level, 10)) {
        this.$router.replace({
          path: this.$route.currentPath,
          query: {
            line: this.$route.query.line,
            level: this.level_filter,
            tail: this.$route.query.tail,
          },
        });
      }
    },
    /**
     * Делаем из line валидное значение верхней видимой строки.
     * Новое валидное значение сохраняем в Vuex
     */
    makeCurrentLineValid(line) {
      let startingLine = parseInt(line, 10);

      // eslint-disable-next-line no-restricted-globals
      if (isNaN(startingLine)
          || startingLine < 1) {
        startingLine = this.default_line_from;
      }

      this.$store.commit('logSettings/setCurrentLine', startingLine);
    },
    /**
     * Обновляем значение line в URL
     */
    updateUrlLineValue() {
      if (parseInt(this.current_line, 10) !== parseInt(this.$route.query.line, 10)) {
        this.$router.replace({
          path: this.$route.currentPath,
          query: {
            line: this.current_line,
            level: this.$route.query.level,
            tail: this.$route.query.tail,
          },
        });
      }
    },
    /**
     * Делаем из tailMode валидное значение флага режима "хвоста".
     * Новое валидное значение сохраняем в Vuex
     */
    makeTailModeValid(tailMode) {
      const tailBool = tailMode === true || tailMode === 'true';
      this.$store.commit('logSettings/setTailMode', tailBool);
    },
    /**
     * Обновляем значение tail в URL
     */
    updateUrlTailModeValue() {
      const urlTailBool = this.$route.query.tail === 'true';
      if (this.tail_mode !== urlTailBool) {
        this.$router.replace({
          path: this.$route.currentPath,
          query: {
            line: this.$route.query.line,
            level: this.$route.query.level,
            tail: this.tail_mode,
          },
        });
      }
    },
    /**
     * Сдвигаем область обзора так, чтобы она (в порядке приоритета):
     * 1. Не выходила вверх за первую строку лога
     * 2. Не выходила вниз за последнюю строку лога
     */
    verifyView() {
      // Проверяем выход вниз за последнюю строку лога
      if (this.line_to > this.lines_total) {
        const unshift = this.line_to - this.lines_total;

        this.line_from -= unshift;
        this.line_to -= unshift;
        this.view_from -= unshift;
        this.view_to -= unshift;
      }

      /* Проверяем выход вверх за первую строку лога
       * (даже если он вызван только что сделанным сдвигом вверх) */
      if (this.line_from < this.default_line_from) {
        const unshift = this.default_line_from - this.line_from;

        this.line_from += unshift;
        this.line_to += unshift;
        this.view_from += unshift;
        this.view_to += unshift;
      }
    },
    /**
     * Вне режима хвоста устанавливаем область обзора так, чтобы current_line
     * была по центру. В режиме хвоста область обзора ставим в конец лога.
     */
    setView() {
      if (this.tail_mode) {
        this.current_line = this.lines_total;
      }

      this.view_from = this.current_line - this.view_size / 2;
      this.view_to = this.current_line + this.view_size / 2;
      this.line_from = this.view_from - this.chunk_size;
      this.line_to = this.view_to + this.chunk_size;

      this.verifyView();
    },
    /**
     * Сдвигаем область обзора на shift строк.
     */
    shiftView(shift) {
      this.line_from += shift;
      this.view_from = this.line_from + this.chunk_size;
      this.view_to = this.view_from + this.view_size;
      this.line_to = this.view_to + this.chunk_size;

      this.verifyView();
    },
    /**
     * Получить значение времени (мс) задержки между последним событием скролла
     * и началом подгрузки лога.
     */
    getScrollDelay() {
      if (this.full_reload_mode) {
        return 500;
      }

      return 250;
    },
    /**
     * Включаем отслеживание необходимости после скролла подгрузить порцию лога
     * сверху/снизу или полностью перезагрузить лог.
     */
    enableScrollFunction() {
      this.$nextTick(() => {
        window.onscroll = () => {
          // Выставляем или снимаем флаг режима "хвоста".
          if (window.innerHeight + window.pageYOffset >= document.body.offsetHeight) {
            this.tail_mode = true;
          } else {
            this.tail_mode = false;
          }

          // Устанавливаем задержку между последним событием скролла и началом подгрузки
          clearTimeout(this.scroll_timeout);
          this.scroll_timeout = setTimeout(() => {
            const newScroll = document.documentElement.scrollTop;

            // Ищем в таблице первую и последнюю видимые на экране строки
            let currentIndex = 0;
            let lastIndex = 0;

            if (!this.full_reload_mode) {
              const headerRow = this.table.querySelectorAll('th')[0];
              const headerBottom = headerRow.getBoundingClientRect().bottom;
              /* строка [0] - шапка, [1] - верхняя распорка,
               * [this.table.rows.length - 1] - нижняя распорка.
               * current_line ищем между распорками */
              for (let i = 2; i <= this.table.rows.length - 2; i += 1) {
                const rowRect = this.table.querySelectorAll('tr')[i].getBoundingClientRect();
                const rowTop = rowRect.top;
                const rowBottom = rowRect.bottom;

                // Строка залезает на экран или целиком в пределах экрана
                if (rowBottom > headerBottom && rowTop < window.innerHeight) {
                  if (currentIndex === 0) {
                    currentIndex = i;
                  }
                  lastIndex = i;
                }
              }
            }

            /* Нашли current_line в строках таблицы - полную перезагрузку лога не делаем.
             * Смотрим, надо ли подгрузить порцию лога сверху или снизу. */
            if (currentIndex !== 0) {
              // Обновляем значение current_line
              const currentRow = this.table.querySelectorAll('tr')[currentIndex];
              this.current_line = parseInt(
                currentRow.querySelectorAll('.line-num')[0].innerText, 10,
              );

              // Обновляем значение last_line
              const lastRow = this.table.querySelectorAll('tr')[lastIndex];
              this.last_line = parseInt(
                lastRow.querySelectorAll('.line-num')[0].innerText, 10,
              );

              /* По значениям current_line и last_line пытаемся понять,
               * надо ли грузить область сверху или снизу лога */
              if (this.current_line < this.view_from
                  && this.line_from > this.default_line_from) {
                // Подгрузка сверху
                this.loadTopChunk();
              } else if (this.last_line > this.view_to
                         && this.line_to < this.lines_total) {
                // Подгрузка снизу
                this.loadBottomChunk();
              }

              this.last_scroll_pos = newScroll;
              return;
            }

            /* Не нашли current_line в строках таблицы.
             * Значит, мы смотрим на незагруженную часть лога.
             * Тогда делаем полную перезагрузку лога */
            this.full_reload_mode = true;
            let newCurrentLine = this.current_line;
            // Смотрим, попали ли мы в верхнюю распорку или в нижнюю и прикидываем current_line
            if (this.top_spacer.getBoundingClientRect().bottom > 0) {
              // Попали в верхнюю распорку
              newCurrentLine = -this.top_spacer.getBoundingClientRect().top / this.line_height;
            } else if (this.bottom_spacer.getBoundingClientRect().top < window.innerHeight) {
              // Попали в нижнюю распорку
              const adjustment = 20; // Погрешность скролла в самый низ документа
              if (window.innerHeight + window.scrollY >= document.body.offsetHeight - adjustment) {
                // Скролл в самый низ документа
                newCurrentLine = this.lines_total;
              } else {
                newCurrentLine = this.view_to
                  - this.bottom_spacer.getBoundingClientRect().top / this.line_height;
              }
            } else {
              // Что-то пошло не так - выдаём нотификацию.
              this.$store.dispatch('notifications/add', new ModelNotification({
                message: 'Calculation error occurred while loading log. Error info: '
                + `scroll: ${document.documentElement.scrollTop}, `
                + `top spacer: ${JSON.stringify(this.top_spacer.getBoundingClientRect())}, `
                + `bottom spacer: ${JSON.stringify(this.bottom_spacer.getBoundingClientRect())}, `
                + `window inner height: ${window.innerHeight}`,
                type: ModelNotification.GetNotificationTypeEnum().DANGER,
                internal: true,
              }));
            }

            // Обновляем значение current_line
            this.current_line = Math.floor(newCurrentLine);

            // Делаем полную перезагрузку лога
            this.fullReload();

            this.last_scroll_pos = newScroll;
          }, this.getScrollDelay());
        };
      });
    },
    /**
     * Выключаем отслеживание подгрузки лога после скролла
     */
    disableScrollFunction() {
      window.onscroll = null;
    },
    /**
     * Очистить и полностью перезагрузить лог
     */
    clearLog() {
      if (window.confirm('Are you sure you want to clear log?')) {
        this.disableScrollFunction();
        clearInterval(this.interval_id);

        BridgeApi().clearLog().then(() => {
          this.onMount();
        });
      }
    },
    /**
     * Вывод даты и времени
     */
    printDateTime(timestamp) {
      return PrintDateTime(timestamp);
    },
    viewLine(item) {
      if (!item.is_spacer) {
        this.viewed_line = item;
        this.$refs['view-log-line-ref'].show(item);
      }
    },
  },
};
</script>

<style lang="scss">
  :root {
    // Высоты строк-распорок определяем через переменные
    --log-table-top-spacer-height: 0px;
    --log-table-bottom-spacer-height: 0px;
  }

  .msg-column {
    white-space: nowrap;
  }

  .log-table-spacer-row {

    &:first-of-type {
      height: var(--log-table-top-spacer-height);

    // todo: по-хорошему, брать бы эти цвета из css-переменных
    /* Имитация striped-раскраски строк таблицы.
     * 0 первым аргументом позволяет градиенту встать на место (и начинаться
     * как бы ровно над первой реальной строкой лога).
     * Но непонятно, за счёт чего это так работает. */
    background: repeating-linear-gradient(
      0,
      rgb(222, 226, 230) 0px,
      rgb(222, 226, 230) 1px,
      #f2f2f2, 2px,
      #f2f2f2 35px,
      rgb(222, 226, 230) 35px,
      rgb(222, 226, 230) 36px,
      #fff 36px,
      #fff 70px,
    );

      .msg-column {
        vertical-align: bottom;
      }
    }
    &:last-of-type {
      height: var(--log-table-bottom-spacer-height);

      // Имитация striped-раскраски строк таблицы.
      background: repeating-linear-gradient(
        rgb(222, 226, 230) 0px,
        rgb(222, 226, 230) 1px,
        #f2f2f2, 2px,
        #f2f2f2 35px,
        rgb(222, 226, 230) 35px,
        rgb(222, 226, 230) 36px,
        #fff 36px,
        #fff 70px,
      );
    }

    .msg-column {
      color: var(--info);
    }
  }

  .table-hover tbody tr.log-table-spacer-row:hover {
    background-color: initial !important;
  }

  /* Не используем атрибут striped компонента b-table, так как хотим красить
     строки в зависимости от чётности line_num, а не чётности строки самой
     таблицы. Иначе, одна и та же строка могла бы менять свою окраску
     в зависимости от того, сколько строк загружено выше неё,
     что мешало бы восприятию. */
  tr.odd-line {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .table.table--no-paddings td,
  .table.table--no-paddings th {
    padding: 0;
  }

  // Скролл внутри модального окна только на &__message
  .viewed-line-modal {
    display: flex;
    flex-direction: column;

    &__message {
      overflow-y: auto;
    }
  }

  // Отладочное
  /*.log-table-top-loader td:nth-of-type(2) {
    background-color: blue !important;
  }
  .log-table-bottom-loader td:nth-of-type(3){
    background-color: green !important;
  }
  .current-line td:first-of-type {
    background-color: yellow !important;
  }
  .last-line td:last-of-type {
    background-color: red !important;
  }*/
</style>

<style scoped lang="scss">
  .datetime {
    white-space: nowrap;
  }

  .logs-from {
    &__column {
      max-width: 150px;
      font-size: 14px;
      display: block;
      line-height: 18px;
    }

    &__label {
      margin: 0;
    }
  }
</style>
