<template>
  <!-- Модальное окно, с историей нотификаций -->
  <b-modal id="notifications-history"
    size="lg"
    scrollable
    dialog-class="draggable-modal"
    body-class="notifications-history-wrapper"
  >
    <template #modal-title>
      Notifications history
    </template>

    <b-alert
      v-for="item in items.slice().reverse()" :key="item.id"
      show
      class="notification"
      :variant="item.type"
    >
      <b-container class="mw-100">
        <b-row>
          <b-col cols="auto" class="notification__text mr-auto">{{item.message}}</b-col>
          <b-col cols="auto" class="text-muted">{{item.PrintCreationTime()}}</b-col>
        </b-row>
      </b-container>
      <button type="button" aria-label="Remove" class="close notification__close"
        @click="remove(item)"
      >×</button>
    </b-alert>

    <template #modal-footer>
      <b-button type="button" aria-label="Remove all"
        @click="remove_all()"
      >
        Remove all notifications
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';
import { FormCheckboxPlugin, AlertPlugin, LayoutPlugin } from 'bootstrap-vue';

Vue.use(FormCheckboxPlugin);
Vue.use(LayoutPlugin);
Vue.use(AlertPlugin);

export default {
  computed: mapGetters({
    items: 'notifications/list',
  }),
  methods: {
    remove(notification) {
      this.$store.commit('notifications/remove', notification);
    },
    remove_all() {
      this.$store.commit('notifications/clear');
    },
  },
};
</script>

<style lang="scss">
  /* Этот стиль добавляется через body-class, а не напрямую элементу.
     Если прописать этот стиль в style scoped, то работать не будет */
  .notifications-history-wrapper {
    height: 500px;
  }
</style>
