<template>
  <!-- Футер с актуальными нотификациями -->
  <div class="notifications-wrapper">
    <!-- @click не работает на b-alert, поэтому есть div-обёртка -->
    <div
      v-for="item in items" :key="item.id"
      @click="hide(item)"
    ><b-alert show
        class="notification"
        :variant="item.type"
      >
        <b-container class="mw-100">
          <b-row>
            <b-col cols="auto" class="notification__text mr-auto">{{item.message}}</b-col>
            <b-col cols="auto" class="text-muted">{{item.PrintCreationTime()}}</b-col>
          </b-row>
        </b-container>
        <button type="button" aria-label="Close" class="close notification__close">×</button>
      </b-alert>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';
import { AlertPlugin, LayoutPlugin } from 'bootstrap-vue';

Vue.use(LayoutPlugin);
Vue.use(AlertPlugin);

export default {
  computed: mapGetters({
    items: 'notifications/shownList',
  }),
  methods: {
    hide(notification) {
      this.$store.commit('notifications/hide', notification);
    },
  },
};
</script>

<style scoped lang="scss">
  .notifications-wrapper {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    max-height: 100px;
    min-height: 0px;
    overflow: auto;
    background-color: #adb5bd;
    width: 100%;
    padding: 0 20px 0;
    border-top: 1px solid var(--info);
    transition-duration: 0.25s;

    &:hover {
      max-height: 50%;
      min-height: 400px;
    }
  }
</style>
