<template>
  <div>
    <!-- Основная шапка -->
    <b-navbar variant="info" type="light" fixed="top" class="header">
      <b-navbar-brand href="/" class="zelax-logo">
        <zelax-logo/>
      </b-navbar-brand>

      <!-- Навигация -->
      <b-navbar-nav id="main-nav">
        <b-nav-item to="/gui/devices">Devices</b-nav-item>
        <b-nav-item to="/gui/logs">Logs</b-nav-item>
      </b-navbar-nav>

      <!-- Вызов модалки с историей нотификаций -->
      <b-button v-b-modal="'notifications-history'" class="ml-auto" variant="info">
        Notifications history
      </b-button>
    </b-navbar>

    <!-- Контент страницы -->
    <main>
      <router-view />
    </main>

    <!-- Панель текущих уведомлений -->
    <shown-notifications />

    <!-- Модалка с историей нотификаций -->
    <notifications-history />

    <!-- Модалка с ошибкой для пользователя -->
    <error-modal />
  </div>
</template>

<script>
import Vue from 'vue';
import { NavbarPlugin, BButton, ModalPlugin } from 'bootstrap-vue';
import ZelaxLogo from '@/assets/zelax_logo';
import ShownNotifications from '@/components/shown_notifications';
import NotificationsHistory from '@/components/notifications_history';
import ErrorModal from '@/components/error_modal';
import DraggableModal from '@/helpers/draggable_modal';

Vue.use(NavbarPlugin);
Vue.component('b-button', BButton);
Vue.use(ModalPlugin);

export default {
  components: {
    ZelaxLogo, ShownNotifications, NotificationsHistory, ErrorModal,
  },
  mounted() {
    // Обработчики draggable-модалок
    document.addEventListener('mousedown', (event) => {
      DraggableModal(event);
    });
  },
};
</script>

<style scoped lang="scss">

  .zelax-logo {
    width: 70px;
    padding: 0px;
    margin: -10px 10px -10px 0;

    svg {
      display: inline-block;
      fill: var(--white);

      &:hover {
        fill: var(--warning);
      }
    }
  }

  main {
    // Верхний padding под шапку, нижний padding под панель уведомлений
    padding: 145px 20px 100px;
  }

  // Стиль через id ради повышения приоритета
  #main-nav .nav-link {
    color: var(--white);
    font-weight: bold;

    &:hover {
      color: var(--warning);
    }

    &.router-link-active {
      text-decoration: underline;
    }
  }

  .header {
    background-color: var(--zelax-cyan) !important;
  }
</style>
