<template>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 114.9 58.5">
    <g transform="translate(-248,-367)">
      <path
        class="zelax_logo_p1"
        d="m 254.7,367 -1.8,3.7 32.7,0 1.8,-3.7 -32.7,0 0,0 z m -2.6,5.3 -1.6,3.4 32.6,0 1.7,-3.4 -32.7,0 0,0 z m -2.6,5.4 -1.5,3 32.6,0 1.5,-3 -32.6,0 0,0 z m -1,43.3 11.8,0 0.3,-0.6 -11.8,0 -0.3,0.6 0,0 z m 2.4,-5 11.9,0 0.5,-0.9 -11.9,0 -0.5,0.9 0,0 z m 2.5,-5.1 11.9,0 0.6,-1.2 -12,0 -0.5,1.2 0,0 z m 3.2,-6.5 -0.7,1.5 12,0 0.8,-1.5 -12.1,0 0,0 z m 5.3,-10.7 -1,2.1 12.1,0 1.1,-2.1 -12.2,0 0,0 z m 2.6,-5.3 -1.2,2.4 12.2,0 1.2,-2.4 -12.2,0 0,0 z m 2.6,-5.4 -1.3,2.7 12.2,0 1.4,-2.7 -12.3,0 0,0 z m -7.8,16 -0.9,1.8 12.1,0 0.9,-1.8 -12.1,0 0,0 z"
      />
      <path
        class="zelax_logo_p2"
        d="m 287.6,425.5 1.9,-4 -36.6,0 -1.9,4 36.6,0 0,0 z m 6.7,-14 -36.5,0 -1.5,3 36.6,0 1.4,-3 0,0 z m -2.4,5 -36.6,0 -1.6,3.3 36.6,0 1.6,-3.3 0,0 z m -33,-7.3 12.1,0 1.3,-2.7 -12.1,0 -1.3,2.7 0,0 z m 2.7,-5.4 12.1,0 1.2,-2.4 -12.1,0 -1.2,2.4 0,0 z m 3.6,-7.4 -1,2.1 12.1,0 1,-2.1 -12.1,0 0,0 z m 2.5,-5.1 -0.9,1.8 12.1,0 0.9,-1.8 -12.1,0 0,0 z m 9.9,-20.1 -0.3,0.6 12.1,0 0.3,-0.6 -12.1,0 0,0 z m -2.5,5 -0.4,0.9 12.1,0 0.4,-0.9 -12.1,0 0,0 z m -2.5,5.1 -0.6,1.2 12.1,0 0.6,-1.2 -12.1,0 0,0 z m -2.4,5 -0.7,1.5 12.1,0 0.7,-1.5 -12.1,0 0,0 z m 50.4,-5.7 -13.9,28.7 -8.5,0 13.9,-28.7 8.5,0 0,0 z m 6.4,19.8 -1.4,0.3 c -0.7,0.2 -1,0.2 -1.8,0.4 -0.6,0.1 -1.3,0.3 -2,0.8 -0.4,0.3 -0.9,0.8 -1.3,1.6 -0.2,0.5 -0.3,0.9 -0.1,1.3 0.3,0.4 0.8,0.5 1.2,0.5 1.3,0 2.2,-0.6 2.5,-0.7 1.3,-0.8 1.9,-2 2.3,-2.7 l 0.6,-1.5 0,0 z m -10.3,-4.5 c 1.4,-3 3.6,-4.6 5.3,-5.2 0.4,-0.2 2.5,-0.8 8.2,-0.8 2.5,0 5.2,0 6.7,1.3 1.8,1.5 0.8,3.7 0.1,5.2 l -6.2,12.9 -8.1,0 1.3,-2.7 -0.2,0 c -0.7,0.7 -1.7,1.5 -2.6,2 -1.6,0.9 -3.5,0.9 -5.1,0.9 -1.6,0 -3.2,-0.1 -4,-0.9 -1.2,-1.1 -0.5,-3 0.2,-4.5 0.6,-1.3 1.4,-2.7 3.3,-3.8 0.7,-0.4 1.9,-0.9 3.9,-1.3 0.8,-0.2 1.4,-0.2 4,-0.7 l 4.9,-0.8 0.6,-1.2 c 0.3,-0.6 0.5,-1.1 0.2,-1.6 -0.3,-0.5 -1,-0.6 -1.6,-0.6 -0.7,0 -1.8,0.1 -2.6,0.7 -0.8,0.5 -1.1,1.4 -1.3,1.8 l -0.3,0.6 -7.3,0 0.6,-1.3 0,0 z m 35.1,-5.8 0.2,4.4 4.7,-4.4 6.2,0 -9.9,8.8 1.4,10.4 -9.9,0 -0.2,-5 -5.5,5 -6.5,0 10.9,-9.6 -1.2,-9.6 9.8,0 0,0 z m -58.8,6.8 -0.3,0.5 -5.2,0 0.3,-0.6 c 0.4,-0.8 0.8,-1.8 1.9,-2.5 0.7,-0.5 1.5,-0.7 2.2,-0.7 0.7,0 1.5,0.2 1.7,0.7 0.3,0.7 -0.4,2 -0.6,2.6 l 0,0 z m 8.7,-4.5 c -1,-2.1 -4.8,-2.5 -7.8,-2.5 -4.3,0 -6.6,0.4 -8.9,1.3 -1.8,0.8 -3.9,1.8 -5.8,5.5 l -3,6.1 c -0.9,2.2 -0.8,3.5 -0.1,4.7 1.2,1.8 4.3,1.9 8.3,1.9 1.9,0 5.9,0 8.5,-1.1 2,-0.9 3.6,-1.9 5.7,-6.2 l -7.4,0 -0.2,0.4 c -1.1,2.3 -2.7,2.5 -4.1,2.5 -2.3,0 -2.9,-0.5 -1.7,-3 l 0.7,-1.5 13.4,0 0.9,-1.9 c 1,-1.7 2.3,-4.3 1.5,-6.2 l 0,0 z"
      />
    </g>
  </svg>
</template>
