<template>
  <section>
    <!-- h1 внутри device-config-table -->
    <device-config-table
      @setUnloadConfirm="setUnloadConfirmation"
      @clearUnloadConfirm="clearUnloadConfirmation"
    ></device-config-table>
  </section>
</template>

<script>
import DeviceConfigTable from '@/components/device_config_table.vue';

export default {
  components: { DeviceConfigTable },
  /**
   * Подтверждение на уход со страницы (через "внутренние" SPA-ссылки и навигацию по истории)
   */
  beforeRouteLeave(to, from, next) {
    if (this.unload_confirmation_set
        && !window.confirm('Do you really want to leave? You have unapplied changes!')) {
      next(false);
    } else {
      next();
    }
  },
  /**
   * Подтверждение на уход со страницы (через "внутренние" SPA-ссылки и навигацию по истории)
   */
  beforeRouteUpdate(to, from, next) {
    if (this.unload_confirmation_set
        && !window.confirm('Do you really want to leave? You have unapplied changes!')) {
      next(false);
    } else {
      next();
    }
  },
  methods: {
    setUnloadConfirmation() {
      this.unload_confirmation_set = true;
    },
    clearUnloadConfirmation() {
      this.unload_confirmation_set = false;
    },
  },
  data() {
    return {
      unload_confirmation_set: false,
    };
  },
};
</script>
