<template>
  <section>
    <h1>Devices list</h1>
    <devices-table></devices-table>
  </section>
</template>

<script>
import DevicesTable from '@/components/devices_table.vue';

export default {
  components: { DevicesTable },
};
</script>
