<template>
  <section>
    <h1>Logs</h1>
    <logs></logs>
  </section>
</template>

<script>
import Logs from '@/components/logs.vue';

export default {
  components: { Logs },
};
</script>

<style scoped lang="scss">
</style>
